<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.koreait.yougn.beans.vo.BoardsVO" alias="boardsVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.ReplyVO" alias="replyVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.ReturnVO" alias="returnVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.ExpoVO" alias="expoVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.ThumbVO" alias="thumbVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.HallVO" alias="hallVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.FaqVO" alias="faqVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.ClassVO" alias="classVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.ApplyVO" alias="applyVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.MarketThumbVO" alias="marketThumbVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.ItemVO" alias="itemVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.OrderVO" alias="orderVO"/>
        <typeAlias type="com.koreait.yougn.beans.vo.InfoVO" alias="infoVO"/>
    </typeAliases>
</configuration>