<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.yougn.mappers.ThumbMapper">
    <insert id="insert">
        INSERT INTO T_THUMB(UUID, UPLOADPATH, EXPONUM, FILENAME, IMAGE, FILETYPE)
        VALUES (#{uuid}, #{uploadPath}, #{expoNum}, #{fileName}, #{image}, 1)
    </insert>

    <delete id="delete">
        DELETE FROM T_THUMB WHERE UUID = #{uuid}
    </delete>

    <select id="findByNum" resultType="thumbVO">
        SELECT UUID, UPLOADPATH, EXPONUM, FILENAME, IMAGE,  FILETYPE
        FROM T_THUMB
        WHERE EXPONUM = #{expoNum} AND  FILETYPE = 1
    </select>

    <delete id="deleteAll">
        DELETE FROM T_THUMB WHERE EXPONUM = #{expoNum} AND  FILETYPE = 1
    </delete>

    <select id="getOldFiles" resultType="thumbVO">
        SELECT UUID, UPLOADPATH, EXPONUM, FILENAME, IMAGE , FILETYPE
        FROM T_THUMB
        WHERE UPLOADPATH = TO_CHAR(SYSDATE - 1, 'YYYY/MM/DD') AND  FILETYPE = 1
    </select>
</mapper>