<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>수정</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/board/write.css" />
    <link rel="stylesheet" href="/css/board/pageBanner.css" />

    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <!--썸머노트-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">

</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <!---------------------------------------------------------------------------------------------------------------------->
        <div class="pageBanner-w"><img src="/img/board/boardList.png" alt=""></div>
        <div class="row">
            <div class="titleDiv">
                <p class="smallTitle">삽니다</p>
            </div>
        </div>
        <div class="row">
            <form action="/board/modify" id="postForm" name="postForm" method="POST">
                <input type="hidden" name="type" id="type" th:field="${vo.type}">
                <input type="hidden" name="bno" id="bno" th:field="${vo.bno}">
                <input type="hidden" name="id" id="id" th:field="${vo.id}">
                <input type="hidden" name="pageNum" th:field="${criteria.pageNum}">
                <input type="hidden" name="amount" th:field="${criteria.amount}">
                <input type="hidden" name="keyType" th:field="${criteria.keyType}">
                <input type="hidden" name="keyword" th:field="${criteria.keyword}">


                <!-- summernote와 관련된 영역 -->

                <input type="text" placeholder ="제목" name="title" id="title" style="border: solid 0.1px #a9a9a9;">

                <textarea id="summernote" name="content" onKeyup="inputLimitByteChecked( this );" data-byte="4000" style="resize: none;"></textarea>



                <!-- 버튼과 관련된 영역 -->

                <div align="center" class="btn-box">

                    <input type="button" id="sendSummer" class="button" value="수정">

                    <a class="button" onclick="history.back()">취소</a>

                </div>

            </form>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------->
        <br>
        <br>
        <br>
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<!--썸머노트-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<!-- include summernote css/js-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<script src="/js/board/write.js"></script>
</body>
<script th:inline="javascript">

    let title = [[${vo.title}]];
    let content = [[${vo.content}]];
    let boardType = [[${cri.boardType}]];
    $("#title").val(title);

    $(document).ready(function () {
        $("#title").val(title);
        $(".note-placeholder").css("display","none");
        $("div.panel-body").html(content);
    })


    switch (boardType) {
        case 1:
            $(".smallTitle").html("팝니다");
            $(".pageBanner-w").children().attr("src", "/img/board/sellWrite.png");
            break;
        case 2:
            $(".smallTitle").html("삽니다");
            $(".pageBanner-w").children().attr("src", "/img/board/buyingWrite.png");
            break;
        case 3:
            $(".smallTitle").html("임대");
            $(".pageBanner-w").children().attr("src", "/img/board/rentWrite.png");
            break;
        case 4:
            $(".smallTitle").html("매매");
            $(".pageBanner-w").children().attr("src", "/img/board/dealWrite.png");
            break;
        case 5:
            $(".smallTitle").html("지식인");
            $(".pageBanner-w").children().attr("src", "/img/board/jisikInWrite.png");
            break;
        case 0:
            $(".smallTitle").html("공지");
            $(".pageBanner-w").children().attr("src", "/img/board/noticeWrite.png");
            location.href = history.back(); /*관리자 아이디일때만 가능하게 만들기*/
            break;
    };

</script>
</html>