<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <title>삽니다 상세보기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/board/read.css">
    <link rel="stylesheet" href="/css/board/pageBanner.css">
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <!---------------------------------------------------------------------------------------------------------------------->
        <div class="pageBanner "><img src="/img/board/boardList.png" alt=""></div>
        <div class=view th:object="${board}">
            <form action="/board/remove" method="post" name="removeForm">
                <div class="listBtn">
                    <span id="choice1"></span>
                    <a href="javascript:void(0)" id="goList" class="button primary small">목록</a>
                </div>

                <div class="vTitle">
                    <p id="p-title" th:text="*{title}">제목</p>
                    <div>
                        <p style="text-align: right" th:text="*{regDate}">0000-00-00</p>
                        <p style="width: fit-content; margin-bottom: 7px; text-align: right" th:text="*{id}">작성자</p>
                    </div>
                    <input type="hidden" name="bno" th:field="*{bno}">
                </div>
                <div class="vContent" name="content">
                </div>
                <br>
                <div class="Btn">
                    <input type="hidden" name="boardType" th:field="${criteria.boardType}">
                    <th:block th:if="*{id} == ${criteria.userId}">
                        <a href="javascript:void(0)" id="modify" class="button primary small">수정</a>
                        <a href="javascript:void(0)" id="delete" class="button primary small">삭제</a>
                    </th:block>
                </div>
                <div class="horizon"><p style="font-size: 20px;margin-top: 8px; text-align: center;width: 1000px;">명예훼손이나 비방, 불쾌감을 주는 글, 욕설, 남을 모욕하는 댓글은 제재가 있을 수 있습니다.</p></div>
                <br>
                <div class="register-form">
                    <div>
                        <input name="replier" th:value="${criteria.userId}" readonly>
                        <textarea rows="6" id="reply" name="reply" placeholder="댓글은 여러분의 얼굴입니다. 신중하게 작성해주세요."></textarea>
                    </div>
                    <div style="text-align: right; margin-top:8px;">
                        <a href="javascript:void(0)" class="finish button primary small">등록</a>
                        <a href="javascript:void(0)" class="cancel button primary small">취소</a>
                    </div>
                </div>
                <br>
                <hr style="border-top: 1px solid;width: 1000px;margin: unset;">
                <br>
                <div class="replyDiv">
                    <ul class="reply">
                    </ul>
                </div>
            </form>
            <div class="paging" style="text-align: center"></div>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------->
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/board/reply.js"></script>
</body>
<script th:inline="javascript">
    let boardType = [[${board.type}]];
    let bno = [[${board.getBno()}]];
    let paging = [[${criteria.listLink}]];
    let replyUL = $("ul.reply");
    let pageNum = 1;
    let sessionId = [[${criteria.userId}]];

    if(sessionId == null){
        alert("로그인이 필요합니다.");
        location.href = "/user/login";
    }

    switch (boardType) {
        case 1:
            $("#choice1").html("팝니다");
            $(".pageBanner").children().attr("src", "/img/board/sellDetail.png");
            break;
        case 2:
            $("#choice1").html("삽니다");
            $(".pageBanner").children().attr("src", "/img/board/buyingDetail.png");
            break;
        case 3:
            $("#choice1").html("임대");
            $(".pageBanner").children().attr("src", "/img/board/rentDetail.png");
            break;
        case 4:
            $("#choice1").html("매매");
            $(".pageBanner").children().attr("src", "/img/board/dealDetail.png");
            break;
        case 5:
            $("#choice1").html("지식인");
            $(".pageBanner").children().attr("src", "/img/board/jisikInDetail.png");
            break;
        case 0:
            $("#choice1").html("공지");
            $(".pageBanner").children().attr("src", "/img/board/noticeDetail.png");
            break;
    };



    $("#goList").on("click", function (e) {
        e.preventDefault();
        location.href = "/board/list" + paging + "&boardType=" + boardType;
    })
    let content = [[${board.content}]];
    $(".vContent").html(content);

    $("#modify").on("click", function (e) {
        e.preventDefault();
        location.href = "/board/modify" + paging + "&boardType=" + boardType + "&bno=" + bno;
    })

    $("#delete").on("click", function (e) {
        e.preventDefault();
        if(!confirm("게시물을 삭제하시겠습니까?")){return;}
        document.removeForm.submit();
    })

    $(".cancel").on("click",function (e) {
        e.preventDefault();
        $("textarea[name='reply']").val("");
    })
    showList(pageNum);

    $(".register").on("click", function(e){
        e.preventDefault();
        $(".register-form").show();
        $(this).hide();
    })

    $(".finish").on("click", function(e){
        e.preventDefault();
        let replier = $("input[name='replier']").val();
        let reply = $("textarea[name='reply']").val();

        replyService.add({bno:bno, content:reply, id:replier},
            function(result){
                $("textarea[name='reply']").val("");
                showList(pageNum);
            }
        )
    });

    function showList(page){
        replyService.getList({bno:bno, page:page || 1},
            function(replyCnt, list){
                if(list == null || list.length == 0){
                    replyUL.html("댓글이 없습니다.");
                    return;
                }
                let str = "";
                for(let i=0, len=list.length; i<len; i++){
                    str += "<li style='display: block' data-rno='" + list[i].rno + "'>"
                    str += "<strong>" + list[i].id + "</strong>"
                    str += "<div>"
                    str += "<p class='reply" + list[i].rno +"'>" + list[i].content + "</p>"
                    str += "<p><strong class='date'>" + replyService.displayTime(list[i].regDate);
                    if(list[i].regDate != list[i].updateDate){
                        str += "<br>수정된 날짜 " + replyService.displayTime(list[i].updateDate);
                    }
                    if(sessionId == list[i].id) {
                        str += "</strong></p></div>"
                        str += "<div style='text-align: right'><a class='modify' href='" + list[i].rno + "'>수정</a>"
                        str += "<a class='finish' style='display: none' href='" + list[i].rno + "'>수정완료</a>"
                        str += "&nbsp;&nbsp;<a class='remove' href='" + list[i].rno + "'>삭제</a>"
                        str += "</div>"
                    }
                    str += "</li>";

                    str += "<div class='line'></div>"
                }
                replyUL.html(str);
                showReplyPage(replyCnt);
            }
        );
    }

    function showReplyPage(replyCnt){
        let endNum = Math.ceil(pageNum / 10.0) * 10;
        let startNum = endNum - 9;
        let realEnd = Math.ceil(replyCnt / 10.0);
        let divTag = $(".paging");
        let str = "";

        if(endNum > realEnd){
            endNum = realEnd;
        }

        let prev = startNum != 1;
        let next = endNum * 10 < replyCnt;

        //917px 까지
        if(matchMedia("screen and (max-width:918px)").matches){
            if(pageNum > 1){
                str += "<a class='changePage' href='" + (pageNum - 1) + "'><code>&lt;</code></a>"
            }
            str += "<code>" + pageNum + "</code>";
            if(pageNum < realEnd){
                str += "<a class='changePage' href='" + (pageNum + 1) + "'><code>&gt;</code></a>"
            }

        }else{//918px 이상
            if(prev){
                str += "<a class='changePage' href='" + (startNum - 1) + "'><code>&lt;</code></a>"
            }
            for(let i=startNum; i<=endNum; i++){
                if(i == pageNum){
                    str += "<code>" + i + "</code>";
                    continue;
                }
                str += "<a class='changePage' href='" + i + "'><code>" + i + "</code></a>";
            }
            if(next){
                str += "<a class='changePage' href='" + (endNum + 1) + "'><code>&gt;</code></a>"
            }
        }
        divTag.html(str);
    }

    $("div.paging").on("click", "a.changePage", function(e){
        e.preventDefault();
        pageNum = parseInt($(this).attr("href"));
        showList(pageNum);
    });


    let check = false;

    $(".reply").on("click", "a.modify", function(e){
        e.preventDefault();
        if(check){alert("수정 중인 댓글이 있습니다."); return;}
        let rnoValue = $(this).attr("href");
        $("p.reply" + rnoValue).html("<textarea class='" + rnoValue + "'>" + $("p.reply" + rnoValue).text() + "</textarea>")
        $(this).hide();

        let arFinish = $(".finish");
        for(let i=0; i<arFinish.length; i++){
            if($(arFinish[i]).attr("href") == rnoValue){
                $(arFinish[i]).show();
                check = true;
                break;
            }
        }
    });

    $(".reply").on("click", "a.finish", function(e){
        e.preventDefault();

        let rnoValue = $(this).attr("href");
        let newReply = $("." + rnoValue).val();

        if(newReply == ""){return;}

        replyService.update({rno:rnoValue, content:newReply},
            function(result){
                check = false;
                showList(pageNum);
            }
        )
    })

    //댓글 삭제
    $(".reply").on("click", "a.remove", function(e){
        e.preventDefault();
        if(!confirm("댓글을 삭제하시겠습니까?")){return;}
        if(check){alert("댓글 수정 중에는 삭제하실 수 없습니다."); return;}
        let rnoValue = $(this).attr("href");
        replyService.remove(rnoValue,
            function(result){
                showList(pageNum);
            }
        );
    })



</script>
</html>