<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>수매 요청</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/board/list.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <!---------------------------------------------------------------------------------------------------------------------->
        <div class="row">
            <div>
                <p class="smallTitle">수매 요청</p>
            </div>
        </div>
        <div class="table-wrapper" id="BtnDiv">
            <div class="inputBtn">
                <input type="button" id="choice1" name="choice1" value="팝니다" class="button primary icon solid">
                <input type="button" id="choice2" name="choice2" value="삽니다" class="button primary icon solid">
            </div>
            <h3><a href="/board/sellWrite" class="button small a-write">글 등록</a></h3>
        </div>

        <div class="table-wrapper" id="table1">
            <table>
                <thead>
                <tr class="tHead">
                    <th class="bno">번호</th>
                    <th class="title">제목</th>
                    <th class="writer">작성자</th>
                    <th class="regDate">작성일</th>
                    <th class="updateDate">수정일</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">Number</td>
                    <td class="title">Title<a id="goRead" href="#"></a></td>
                    <td class="writer">Writer</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <form action="/board/list" name="searchForm">
                <div class="fields">
                    <div class="field">
                        <div id="searchWrap">
                            <select name="type">
                                <option value="">검색 기준</option>
                                <option value="T">제목</option>
                                <option value="C">내용</option>
                                <option value="W">작성자</option>
                                <option value="TC">제목 또는 내용</option>
                                <option value="TW">제목 도는 작성자</option>
                                <option value="TCW">제목 또는 내용 또는 작성자</option>
                            </select>
                            <input id="keyword" type="text" name="keyword">
                            <a href="javascript:void(0)" class="search button primary icon solid fa-search" style="vertical-align: top;"></a>
                        </div>
                    </div>
                </div>
            </form>
            <div>

                <div class="page" style="text-align: center">
                    <a class="changePage"><code>&lt;</code></a>
                    <code>1</code>
                    <a class="changePage"><code>&gt;</code></a>
                </div>
                <form action="/board/list" name="pageForm">
                    <input type="hidden" name="pageNum">
                    <input type="hidden" name="amount">
                    <input type="hidden" name="type">
                    <input type="hidden" name="keyword">
                </form>
            </div>
        </div>

        <div class="table-wrapper" id="table2">
            <table>
                <thead>
                <tr class="tHead">
                    <th class="bno">번호</th>
                    <th class="title">제목</th>
                    <th class="writer">작성자</th>
                    <th class="regDate">작성일</th>
                    <th class="updateDate">수정일</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                <tr class="tBody">
                    <td class="bno">번호</td>
                    <td class="title">제목<a id="goRead" href="#"></a></td>
                    <td class="writer">작성자</td>
                    <td class="regDate">0000-00-00</td>
                    <td class="updateDate">0000-00-00</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <form action="/board/list" name="searchForm">
                <div class="fields">
                    <div class="field">
                        <div id="searchWrap">
                            <select name="type">
                                <option value="">검색 기준</option>
                                <option value="T">제목</option>
                                <option value="C">내용</option>
                                <option value="W">작성자</option>
                                <option value="TC">제목 또는 내용</option>
                                <option value="TW">제목 도는 작성자</option>
                                <option value="TCW">제목 또는 내용 또는 작성자</option>
                            </select>
                            <input id="keyword1" type="text" name="keyword">
                            <a href="javascript:void(0)" class="search button primary icon solid fa-search" style="vertical-align: top;"></a>
                        </div>
                    </div>
                </div>
            </form>
            <div>

                <div class="page" style="text-align: center">
                    <a class="changePage"><code>&lt;</code></a>
                    <code>1</code>
                    <a class="changePage"><code>&gt;</code></a>
                </div>
                <form action="/board/list" name="pageForm">
                    <input type="hidden" name="pageNum">
                    <input type="hidden" name="amount">
                    <input type="hidden" name="type">
                    <input type="hidden" name="keyword">
                </form>
            </div>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------->
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/board/list.js"></script>
</body>
<script>
    $("#choice1").on("click", function () {
        $(".a-write").attr("href", "/board/sellWrite");
    })
    $("#choice2").on("click", function () {
        $(".a-write").attr("href", "/board/buyWrite");
    })
</script>
</html>