<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Untitled</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div class="tle">
            <h1 class="h1">농사수업</h1>
            <h6>홈>귀농지원>농사수업</h6>
            <hr>
            <div class="cateBox">
                <a href="/support/hallList">
                    <div class="cate none">
                        <img src="/img/hallCall.png">
                        <span>지역 연락망</span>
                    </div>
                </a>
                <a href="/support/returnList">
                    <div class="cate none">
                        <img src="/img/persent.png">
                        <span>특산물 정보</span>
                    </div>
                </a>
                <div class="cate on">
                    <img src="/img/nongsasuup.png">
                    <span>농사 수업</span>
                </div>
                <a href="/support/infoList">
                    <div class="cate none">
                        <img src="/img/info.png">
                        <span>이외 각종 정보</span>
                    </div>
                </a>
            </div>
            <div class="searchBox">
                <div class="searchMenu">
                    <input type="search" style="width: 840px;">
                    <input type="button" class="button large" value="검색">
                </div>
            </div>
            <div class="linkWrapper">
                <input id="linkButton" type="button" class="button large" value="정부지원 클래스" style="margin-left:30px; border: solid 0.5px green; padding: 5px 15px;font-weight: 400;" >
            </div>
            <div class="listWrapper">
                <div class="list">
                    <table>
                        <caption style="text-align: right">(단위:연, 천원)</caption>
                        <tr>
                            <th>이미지</th>
                            <th class="th">강사명</th>
                            <th>클래스명</th>
                            <th class="th">모집</th>
                            <th style="width: 50px;">자세히보기</th>
                        </tr>
                        <th:block th:each="num:${#numbers.sequence(0,list.size()-1)}">
                            <tr th:object="${list.get(num)}">
                                <td></td>
                                <td th:text="*{name}"></td>
                                <td th:text="*{title}"></td>
                                <th:block th:switch="${checkList.get(num)}">
                                    <th:block th:if="*{headNum != headCount} and ${checkList.get(num)}">
                                        <td th:text="신청가능"></td>
                                        <td><a th:href="@{classView(num=*{num})}" class="button">자세히보기</a></td>
                                    </th:block>
                                    <th:block th:unless="*{headNum != headCount} and ${checkList.get(num)}">
                                        <td th:text="마감"></td>
                                        <td><a class="button stop">마감</a></td>
                                    </th:block>
                                </th:block>
                            </tr>
                        </th:block>
                        <tr th:if="${list.size() == 0}">
                            <td colspan="6">검색된 정보가 없습니다.</td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="paging">
                <table th:object="${pageMaker}">
                    <tr>
                        <td th:if="*{prev}"><a th:href="@{classList(pageNum=*{criteria.pageNum -1},keyword=*{criteria.keyword})}">&lt;</a></td>
                        <th:block th:each="num:${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                            <td th:if="${pageMaker.criteria.getPageNum() != num}">
                                <a th:href="@{classList(pageNum=${num},keyword=*{criteria.keyword})}">
                                    <span th:text="${num}"></span>
                                </a>
                            </td>
                            <td th:if="${pageMaker.criteria.getPageNum() == num}"><span th:text="${num}"></span></td>
                        </th:block>
                        <td th:if="*{next}"><a th:href="@{classList(pageNum=*{criteria.pageNum +1},keyword=*{criteria.keyword})}">&gt;</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
<script>
    let url = "https://www.returnfarm.com:444/cmn/returnFarm/module/eduAkademy/rfAkademyMain.do";
    $("#linkButton").on("click",function(){
        window.open(url,"_blank");
    })
</script>
</html>