<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>농사수업 글 수정</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <form action="/support/classModify" method="post" name="postForm">
            <div class="tle" >
                <h1 class="h1">클래스 수정</h1>
                <h6>홈>귀농지원>농사수업>클래스 수정</h6>
                <hr>
                <div id="sit_ov_wrap" style="display: flex;width: 1000px;margin: auto;">
                    <div id="sit_pvi">
                        <div id="sit_pvi_big" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper"style="width: 1000px; left: 0px; display: block; transition: all 1000ms ease 0s;">
                                    <div class="owl-item" style="width: 500px;">
                                        <div class="uploadResult">
                                            <input type="file" id="file" name="file">
                                            <ul></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-controls clickable" style="display: none;">
                                <div class="owl-buttons">
                                    <div class="owl-prev">prev</div>
                                    <div class="owl-next">next</div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- } 상품이미지 미리보기 끝 -->
                    <section id="sit_ov" style="margin-left: -480px;" th:object="${class}">
                        <input type="text" id="sit_title" name="title" placeholder="제목" th:value="*{title}">
                        <hr>
                        <div class="sit_ov_tbl">
                            <div class="con_w">
                                <div class="price_innerwrap">
                                    <span id="ucItemPrice_hdivPrice" class="price_original"style="font-size: 17px">강사명 : </span><input type="text" name="name" th:value="*{name}">
                                </div>
                            </div>
                            <div class="con_w" style="font-size: 17px">
                                <span class="ttl">최대인원&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                                <input type="text" class="con" name="headNum" th:value="*{headNum}">
                            </div>
                            <div class="con_w" style="font-size: 17px">
                                <span class="ttl">강의장&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                                <input type="text" name="place" placeholder="온라인 수업이면 '비대면' 혹은 '온라인'" th:value="*{place}">
                            </div>
                            <div class="con_w" style="font-size: 17px">
                                <div style="display: inline-block;vertical-align: top;">
                                    <span class="ttl">강의장 주소&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                                </div>
                                <div style="display: inline-block;width:310px;">
                                    <!-- <input type="text" class="box postcodify_postcode5" id="address"
                                            placeholder="우편번호" value=""
                                            style="width: 68%; float: left">-->
                                    <input type="button" id="postcodify_search_button" value="주소 검색" >
                                    <input type="text" class="postcodify_address" name="address" placeholder="도로명주소"
                                           style="margin-top: 5px;" th:value="*{address}">
                                    <input type="text" class="postcodify_details" name="addressDetail" placeholder="상세주소"
                                           style="margin-top: 5px;" value="">
                                </div>
                            </div>
                            <div class="con_w" style="font-size: 17px">
                                <span class="ttl">강의기간&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                                <input type="date" name="openDate" class="con" th:value="*{openDate}">
                                <span>&nbsp;~&nbsp;</span>
                                <input type="date" name="closeDate" th:value="*{closeDate}">
                            </div>
                            <div class="con_w" style="font-size: 17px">
                                <span class="ttl">강의시간&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                                <input type="time" name="startTime" th:value="*{startTime}">
                                <span>&nbsp;~&nbsp;</span>
                                <input type="time" name="endTime" th:value="*{endTime}">
                            </div>
                            <div class="con_w" style="font-size: 17px">
                                <span class="ttl">신청기간&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                                <input type="date" name="recruitDate" class="con" th:value="*{recruitDate}">
                                <span>&nbsp;~&nbsp;</span>
                                <input type="date" name="recruitCloseDate" th:value="*{recruitCloseDate}">
                            </div>
                            <div class="con_w" style="font-size: 17px">
                                <span class="ttl">비용&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                                <input type="number" name="price" class="con" th:value="*{price}"><span>원</span>
                            </div>
                            <!-- 선택옵션 시작 { -->
                            <hr>
                        </div>
                    </section>
                    <input type="hidden" th:value="${session.sessionId}" id="id">
                </div>
            </div>
            <div class="tle">
                <div id="bottom">
                    <!-- 상풍 상세설명 -->
                    <textarea id="summernote" name="content" style="resize: none;" th:utext="${class.content}"></textarea>
                    <!-- 상풍 상세설명 끝 -->
                </div>
            </div>
            <input type="submit" id="sendSummer" class="button" value="작성" >

            <a class="button" onclick="history.back()" style="line-height: 1; height: 30px;">취소</a>
        </form>
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<!--주소-->
<script src="https://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>

<!-- SummerNote-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<!-- include summernote css/js-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
</body>
<script>
    let classNum = [[${class.num}]];

    let session = $("#id").val();
    if (session != "yougnAdmin" || session == "") {
        alert("관리자 이외에는 접근하실 수 없습니다.");
        history.back();
    }

    // 주소검색 API
    $(function () {
        $("#postcodify_search_button").postcodifyPopUp();
    });
    $(document).ready(function () {
        $("#file").hide();
        var fontList = ['맑은 고딕', '돋움', '궁서', '굴림', '굴림체', '궁서체', '나눔 고딕', '바탕', '바탕체', '새굴림', 'HY견고딕', 'HY견명조', 'HY궁서B', 'HY그래픽M', 'HY목각파임B', 'HY신명조', 'HY얕은샘물M', 'HY엽서L', 'HY엽서M', 'HY중고딕', 'HY헤드라인M', '휴먼매직체', '휴먼모음T', '휴먼아미체', '휴먼둥근헤드라인', '휴먼편지체', '휴먼옛체'];
        var setting = {
            placeholder: "" ,
            height: 500,
            tabsize: 2,
            maxHeight: null,
            minHeight: null,
            lang: 'ko-KR', // 언어 세팅
            fontNames: fontList,
            fontNamesIgnoreCheck: fontList,
            toolbar: [
                // [groupName, [list of button]]
                ['Font Style', ['fontname']],
                ['style', ['bold', 'italic', 'underline']],
                ['font', ['strikethrough']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['paragraph']],
                ['height', ['height']],
                ['Insert', ['picture']],
                ['Insert', ['link']],
                ['Misc', ['fullscreen']]
            ],
            //콜백 함수
            callbacks : {
            }
        };
        $('#summernote').summernote(setting);

        $("#sendSummer").click(function(e){
            e.preventDefault();
            if(!$("input[name=title]").val()){
                alert("제목을 입력해주세요.");
                $("input[name=title]").focus();
                return;
            }
            if(!$("input[name=name]").val()){
                alert("강사명을 입력해주세요.");
                $("input[name=name]").focus();
                return;
            }
            if(!$("input[name=headNum]").val()){
                alert("최대 수강인원 을 입력해주세요.");
                $("input[name=headNum]").focus();
                return;
            }
            if(!$("input[name=place]").val()){
                alert("강의장을 입력해주세요.");
                $("input[name=place]").focus();
                return;
            }
            if(!$("input[name=openDate]").val()){
                alert("개강날짜를 입력해주세요.");
                $("input[name=openDate]").focus();
                return;
            }
            if(!$("input[name=closeDate]").val()){
                alert("종강날짜를 입력해주세요.");
                $("input[name=closeDate]").focus();
                return;
            }
            if(!$("input[name=startTime]").val()){
                alert("강의 시작시간을 입력해주세요.");
                $("input[name=startTime]").focus();
                return;
            }
            if(!$("input[name=endTime]").val()){
                alert("강의 종료시간을 입력해주세요.");
                $("input[name=endTime]").focus();
                return;
            }
            if(!$("input[name=recruitDate]").val()){
                alert("모집 시작 날짜를 입력해주세요.");
                $("input[name=recruitDate]").focus();
                return;
            }
            if(!$("input[name=recruitCloseDate]").val()){
                alert("모집 종료 날짜을 입력해주세요.");
                $("input[name=recruitCloseDate]").focus();
                return;
            }
            if(!$("input[name=price]").val()){
                alert("비용을 입력해주세요.");
                $("input[name=price]").focus();
                return;
            }
            if(!$("#summernote").val()){
                alert("내용을 입력해주세요.");
                return;
            }
            let str = "";
            $(".uploadResult ul li").each(function(i, obj){
                str += "<input type='text' name='fileList[" + i + "].fileName' value='" + $(obj).data('name') + "'>"
                str += "<input type='text' name='fileList[" + i + "].uuid' value='" + $(obj).data('uuid') + "'>"
                str += "<input type='text' name='fileList[" + i + "].uploadPath' value='" + $(obj).data('path') + "'>"
                str += "<input type='text' name='fileList[" + i + "].image' value='" + $(obj).data('type') + "'>"
                str += "<input type='text' name='num' value='" + classNum + "'>"
            });
            $(document.postForm).append(str).submit();
        })



        let regex = new RegExp("(.*?)\.(jpg|jpeg|png|gif)$");
        let maxSize = 5242880;// 5MB
        let inputFile = $(".uploadDiv input");
        let uploadResult = $(".uploadResult ul");

        //form태그에 input hidden 생성 실습
        //서버 쪽으로 전달할 첨부파일의 데이터를 input type hidden으로 추가하기
        //추가된 li태그를 모두 가져와서 data속성을 통해 알맞는 값을 설정한다.
        //form.append("추가할 HTML") : HTML 추가
        //submit을 눌렀을 때 click 이벤트를 발생하고, 기존 submit이벤트는 막아줘야 한다.
        //input태그가 모두 추가된 후 submit()해준다.

        function showUploadFile(uploadFile){
            let str = "";
            $(uploadFile).each(function(i, obj){
                console.log(obj.uploadPath);
                let fileCallPath = encodeURIComponent("classThumb/" + obj.uploadPath + "/s_" + obj.fileName);
                let originPath = encodeURIComponent("classThumb/" + obj.uploadPath + "/" + obj.fileName);

                str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                str += "<div>";
                str += "<img src='/upload/display?fileName=" + originPath + "' style='width: 480px; max-width: 480px; max-height:350px; height: 350px;'>";
                str += "<span data-file='" + originPath + "' data-type='image'>x</span>";
                str += "</div>";
                str += "</li>";
            });
            uploadResult.append(str);
        }

        //확장자 별 업로드 제한, 특정 크기 이상의 파일은 업로드 제한
        function checkExtension(fileName, fileSize){
            if(!regex.test(fileName)){
                alert("jpg, jpeg, png, gif 파일만 가능합니다..");
                return false;
            }
            if(fileSize >= maxSize){
                alert("파일 사이즈 초과");
                return false;
            }
            return true;
        }

        $("input[type='file']").change(function(){
            let formData = new FormData();
            let inputFile = $("input[name='file']");
            let files = inputFile[0].files;

            for(let i=0; i<files.length; i++){
                if(!checkExtension(files[i].name, files[i].size)){ return; }
                formData.append("uploadFiles", files[i]);
            }
            formData.append("middlePath","/classThumb")

            $.ajax({
                url: "/upload/uploadAjaxAction",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function(fileList){
                    $("#file").hide()
                    showUploadFile(fileList);
                    inputFile.val("");
                }
            });
        });

        (function(){
            $.getJSON("/support/getAttachList", {classNum: classNum},
                function(arr){
                    console.log(arr);
                    let str = "";

                    $(arr).each(function(i, attach){
                        let fileCallPath = encodeURIComponent("classThumb/"+attach.uploadPath + "/s_" + attach.uuid + "_" + attach.fileName);
                        let originPath = encodeURIComponent("classThumb/" + attach.uploadPath + "/" + attach.uuid + "_" + attach.fileName);
                        str += "<li data-path='" + attach.uploadPath + "' data-uuid='" + attach.uuid + "' data-name='" + attach.fileName.substring(attach.fileName.indexOf("_") + 1) + "' data-type='" + attach.image +"'>";
                        str += "<div>";
                        str += "<img src='/upload/display?fileName=" + originPath + "' style='width: 480px; max-width: 480px; max-height:350px; height: 350px;'>";
                        str += "<span data-file='" + originPath + "' data-type='image'>x</span>";
                        str += "</div>";
                        str += "</li>";
                    });
                    uploadResult.html(str);
                });//getJSON
        })();
    });

    $(".uploadResult").on("click", "span", function(){
        let targetFile = $(this).data("file");
        let type = $(this).data("type");
        let li = $(this).parents("li");
        li.remove();
        $("#file").show()
    });
</script>
</html>