<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div class="tle" >
            <h1 class="h1">농사수업</h1>
            <h6>홈>귀농지원>농사수업</h6>
            <hr>
            <div id="sit_ov_wrap" style="display: flex;width: 1000px;margin: auto;">
                <div id="sit_pvi">
                    <div id="sit_pvi_big" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper"style="width: 1000px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                                <div class="owl-item" style="width: 500px;">
                                    <div class="item">
                                        <img th:src="@{/upload/display(fileName=${src})}" alt="" title="" style="max-height:320px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls clickable" style="display: none;">
                            <div class="owl-buttons">
                                <div class="owl-prev">prev</div>
                                <div class="owl-next">next</div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <!-- } 상품이미지 미리보기 끝 -->
                <section id="sit_ov" style="margin-left: -480px;" th:object="${class}">
                    <h2 id="sit_title" th:text="*{title}"></h2>
                    <hr>
                    <div class="sit_ov_tbl">
                        <div class="con_w">
                            <div class="price_innerwrap">
                                <span id="ucItemPrice_hdivPrice" class="price_original"style="font-size: 17px">강사명 : <span th:text="*{name}"></span></span>
                            </div>
                        </div>
                        <div class="con_w" style="font-size: 17px">
                            <span class="ttl">최대인원&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con" th:text="*{headNum}"></span>
                        </div>
                        <div class="con_w" style="font-size: 17px">
                            <span class="ttl">강의장&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con" th:text="*{place}">강의 장소</span>
                        </div>
                        <div class="con_w" style="font-size: 17px">
                            <div style="display: inline-block;vertical-align: top;">
                                <span class="ttl">강의장 주소&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            </div>
                            <div style="display: inline-block;width:310px;"><span class="con" th:text="*{address}"></span></div>
                        </div>
                        <div class="con_w" style="font-size: 17px">
                            <span class="ttl">강의기간&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con" th:text="*{openDate}">시작 날짜</span><span>&nbsp;~&nbsp;</span><span th:text="*{closeDate}">마감 날짜</span>
                        </div>
                        <div class="con_w" style="font-size: 17px">
                            <span class="ttl">강의시간&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con" th:text="*{startTime}">시작 시간</span><span>&nbsp;~&nbsp;</span><span th:text="*{endTime}">종료 시간</span>
                        </div>
                        <div class="con_w" style="font-size: 17px">
                            <span class="ttl">신청기간&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con" th:text="*{recruitDate}">시작 날짜</span><span>&nbsp;~&nbsp;</span><span th:text="*{recruitCloseDate}">마감 날짜</span>
                        </div>
                        <div class="con_w" style="font-size: 17px">
                            <span class="ttl">비용&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con" id="price" th:text="*{price}">비용 값</span><span>원</span>
                        </div>
                        <!-- 선택옵션 시작 { -->
                        <hr>

                        <!--버튼-->
                        <th:block th:if="${applyCheck}">
                            <th:block th:if="${check}">
                                <th:block th:if="*{headNum != headCount}">
                                    <input type="button" class="button large primary" id="apply" value="신청하기" style=" height: 40px; width: 150px;">
                                </th:block>
                                <th:block th:if="*{headNum == headCount}">
                                    <input type="button" class="button large primary" value="마감" style=" height: 40px; width: 150px; background: #4a514f">
                                </th:block>
                            </th:block>
                            <th:block th:unless="${check}">
                                <input type="button" class="button large primary" value="신청 시간 전" style=" height:40px;width:150px;background:#4a514f">
                            </th:block>
                        </th:block>
                        <th:block th:unless="${applyCheck}">
                            <input type="button" class="button large primary" id="cancel" value="신청완료" style=" height:40px;width:150px;background:#d1161678;">
                        </th:block>
                        <!--버튼 끝-->
                    </div>
                </section>
            </div>
        </div>
        <div class="tle">
            <div id="bottom">
                <!-- 상풍 상세설명 -->
                <hr>
                <div id="content" style="text-align:center;" align="center" th:utext="${class.content}">

                </div>
                <!-- 상풍 상세설명 끝 -->
            </div>
            <hr>
        </div>
    </div>
    >
    <form th:if="${applyCheck}" action="/support/apply" method="post" id="applyForm"></form>
    <form th:unless="${applyCheck}" action="/support/cancel" method="post" id="cancelForm"></form>

    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script th:inline="javascript">

    $("#apply").on("click",function(){
        if(!confirm("신청 후 취소 및 환불은 불가합니다.\n신청하시겠습니까?")){
            return;
        }
        iamport();
    })
    let classNum = [[${class.num}]];
    let merchant_uid = [[${merchant_uid}]];
    let imp_uid = [[${imp_uid}]];
    let name = $("h2#sit_title").text();
    let amount = $("#price").text();
    function iamport(){
        //가맹점 식별코드
        IMP.init('imp10833768');
        IMP.request_pay({
            pg : 'kakaoPay',
            pay_method : 'kakaoPay',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : name , //결제창에서 보여질 이름
            amount : amount, //실제 결제되는 가격
        }, function(rsp) {
            console.log(rsp);
            if ( rsp.success ) {
                console.log("들어옴")
                let str = "";
                str += "<input type='hidden' value='"+ classNum +"' name='classNum'>";
                str += "<input type='hidden' value='"+rsp.merchant_uid+"' name='merchant_uid'>";
                str += "<input type='hidden' value='"+rsp.imp_uid+"' name='imp_uid'>";
                console.log(str);
                $("#applyForm").append(str).submit();
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
            }
        });
    }

    $("#cancel").on("click",function () {
        // alert("취소 및 환불은 불가능합니다.");
        // return;
        token = getToken();
        if(payCancel(token,imp_uid,amount)){
            cancelClass();
        }
    })
    function cancelClass() {
        console.log(classNum);
        jQuery.ajax({
            "url": "/support/cancel", // 예: http://www.myservice.com/payments/cancel
            "type": "POST",
            "contentType": "application/json; charset=utf-8",
            "data": JSON.stringify({
                "merchant_uid": merchant_uid, // 예: ORD20180131-0000011
                "cancel_request_amount": amount, // 환불금액
                "reason": "테스트 결제 환불", // 환불사유
                classNum : classNum
            }),
            "dataType": "json"
        }).done(function(result) { // 환불 성공시 로직
            alert("환불 성공");
        }).fail(function(error) { // 환불 실패시 로직
            alert("환불 실패");
        });
    }
    let token;
    function getToken() {
        $.ajax({
          url: "https://api.iamport.kr/users/getToken",
          method: "post", // POST method
          headers: { "Content-Type": "application/json" }, // "Content-Type": "application/json"
          data: {
              imp_key: "7051986632130181", // REST API키
              imp_secret: "ddf3e4f95225bf63fdcc591e429762d8585ca53e4bcde8a22d936a9bea2ad549c1512723856e71b2" // REST API Secret
          },
            success:function(r){
                token = r.response.access_token;
                console.log("토큰 가져옴")
                console.log(token);
                return token;
            }
        })
    }
    function payCancel(token,imp_uid,amount){
        $.ajax({
            url: "https://api.iamport.kr/payments/cancel",
            method: "post",
            headers: {
                "Content-Type": "application/json",
                "Authorization": token // 아임포트 서버로부터 발급받은 엑세스 토큰
            },
            data: {
                reason : "결제 취소", // 가맹점 클라이언트로부터 받은 환불사유
                imp_uid : imp_uid, // imp_uid를 환불 `unique key`로 입력
                amount: amount, // 가맹점 클라이언트로부터 받은 환불금액
                checksum: amount // [권장] 환불 가능 금액 입력
            },
            success:function(r){
                console.log(r);
                return true;
            }
        });
    }
</script>
</body>
</html>