<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>지역연락망</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div class="tle">
<!--            <h1 class="h1">귀농지원</h1>-->
            <div class="category">
                <img src="/img/localContact.png" style="padding-top: 53px;">
            </div>
            <h6>홈>귀농지원>지역연락망</h6>
            <div class="cateBox">
                <div class="cate on">
                    <img src="/img/hallCall.png" style="filter: brightness(5);">
                    <span>지역 연락망</span>
                </div>
                <a href="/support/returnList">
                    <div class="cate none">
                        <img src="/img/persent.png">
                        <span>특산물 정보</span>
                    </div>
                </a>
                <a href="/support/classList">
                    <div class="cate none">
                        <img src="/img/nongsasuup.png">
                        <span>농사 수업</span>
                    </div>
                </a>
                <a href="/support/infoList">
                    <div class="cate none">
                        <img src="/img/info.png">
                        <span>이외 각종 정보</span>
                    </div>
                </a>
            </div>
            <div class="searchBox">
                <div class="searchMenu">
                    <form action="/support/hallList" method="get">
                        <div class="bigCate">
                            <select name="sido">
                            </select>
                        </div>
                        <div class="midCate">
                            <select name="gugun">
                                <option value="">시군구</option>
                            </select>
                        </div>
                        <input type="search" class="search">
                        <input type="submit" class="button large" value="검색">
                    </form>
                </div>
            </div>
            <div class="listWrapper">
                <table class="default">
                    <tr>
                        <th>시도</th>
                        <th>시군구</th>
                        <th>기관명</th>
                        <th>연락처</th>
                    </tr>
                    <th:block th:each="vo:${list}">
                        <tr th:object="${vo}">
                            <td th:text="*{sido}"></td>
                            <td th:text="*{gugun}"></td>
                            <td th:text="*{name}"></td>
                            <td th:text="*{call}"></td>
                        </tr>
                    </th:block>
                    <tr th:if="${list.size() == 0}">
                        <td colspan="6">검색된 정보가 없습니다.</td>
                    </tr>
                </table>
            </div>
            <div class="paging">
                <table th:object="${pageMaker}">
                    <tr>
                        <td th:if="*{prev}"><a th:href="@{hallList(pageNum=*{criteria.pageNum -1},sido=*{criteria.sido},gugun=*{criteria.gugun},keyword=*{criteria.keyword})}">&lt;</a></td>
                        <th:block th:each="num:${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                            <td th:if="${pageMaker.criteria.getPageNum() != num}">
                                <a th:href="@{hallList(pageNum=${num},sido=*{criteria.sido},gugun=*{criteria.gugun},keyword=*{criteria.keyword})}">
                                    <span th:text="${num}"></span>
                                </a>
                            </td>
                            <td th:if="${pageMaker.criteria.getPageNum() == num}"><span th:text="${num}"></span></td>
                        </th:block>
                        <td th:if="*{next}"><a th:href="@{hallList(pageNum=*{criteria.pageNum +1},sido=*{criteria.sido},gugun=*{criteria.gugun},keyword=*{criteria.keyword})}">&gt;</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
    $('document').ready(function() {
        var area0 = ["시/도 선택", "경기","강원","충북","충남","전북","전남","경북","경남","제주"];
        var area1 = ["전체","고양시","과천시","광명시","광주시","구리시","군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시","안산시","안성시","안양시","양주시","오산시","용인시","의왕시","의정부시","이천시","파주시","평택시","포천시","하남시","화성시","가평군","양평군","여주군","연천군"];
        var area2 = ["전체","강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"];
        var area3 = ["전체","제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"];
        var area4 = ["전체","계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"];
        var area5 = ["전체","군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"];
        var area6 = ["전체","광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"];
        var area7 = ["전체","경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"];
        var area8 = ["전체","거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"];
        var area9 = ["전체","서귀포시","제주시"];



        // 시/도 선택 박스 초기화

        $("select[name^=sido]").each(function() {
            $selsido = $(this);
            $.each(eval(area0), function() {
                $selsido.append("<option value='"+this+"'>"+this+"</option>");
            });
            $selsido.next().append("<option value=''>구/군 선택</option>");
        });



        // 시/도 선택시 구/군 설정

        $("select[name^=sido]").change(function() {
            var area = "area"+$("option",$(this)).index($("option:selected",$(this))); // 선택지역의 구군 Array
            var $gugun = $("select[name=gugun]"); // 선택영역 군구 객체
            $("option",$gugun).remove(); // 구군 초기화

            if(area == "area0")
                $gugun.append("<option value=''>구/군 선택</option>");
            else {
                $.each(eval(area), function() {
                    $gugun.append("<option value='"+this+"'>"+this+"</option>");
                });
            }
        });


    });
</script>
</body>
</html>