<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>정보</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div class="tle">
<!--            <h1 class="h1">농사정보</h1>-->
            <div class="category">
                <img src="/img/supportGN_etc.png" style="padding-top: 53px;">
            </div>
            <h6>홈>귀농지원>농사정보</h6>
            <div class="cateBox">
                <a href="/support/hallList">
                    <div class="cate none">
                        <img src="/img/hallCall.png">
                        <span>지역 연락망</span>
                    </div>
                </a>
                <a href="/support/returnList">
                    <div class="cate none">
                        <img src="/img/persent.png">
                        <span>특산물 정보</span>
                    </div>
                </a>
                <a href="/support/classList">
                    <div class="cate none">
                        <img src="/img/nongsasuup.png">
                        <span>농사 수업</span>
                    </div>
                </a>
                <div class="cate on">
                    <img src="/img/info.png">
                    <span>이외 각종 정보</span>
                </div>
            </div>
            <div class="listWrapper">
                <div class="list">
                    <table>
                        <tr>
                            <th>정보명</th>
                            <th style="width: 50px;">자세히보기</th>
                        </tr>
                        <th:block th:each="vo:${list}">
                            <tr th:object="${vo}">
                                <td th:text="*{name}"></td>
                                <td><a class="button" th:href="*{url}" >자세히보기</a></td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <div class="paging">
                <table th:object="${pageMaker}">
                    <tr>
                        <td th:if="*{prev}"><a th:href="@{infoList(pageNum=*{criteria.pageNum -1})}">&lt;</a></td>
                        <th:block th:each="num:${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                            <td th:if="${pageMaker.criteria.getPageNum() != num}">
                                <a th:href="@{infoList(pageNum=${num})}">
                                    <span th:text="${num}"></span>
                                </a>
                            </td>
                            <td th:if="${pageMaker.criteria.getPageNum() == num}"><span th:text="${num}"></span></td>
                        </th:block>
                        <td th:if="*{next}"><a th:href="@{infoList(pageNum=*{criteria.pageNum +1})}">&gt;</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


<input type="hidden" id="id" th:value="${id}">
    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
    $("a.button").on("click",function(e){
        e.preventDefault();
        if(!$("input#id").val()){
            alert("로그인 후 이용 가능합니다.");
            return;
        }
        let url = $(this).attr("href");
        window.open(url);
    })
</script>
</body>
</html>