<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>관리자 페이지</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/myPage.css"/>
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div id="all" style="padding-bottom: 50px">
            <div class="contentLeft">
                <div>
                    <h4><a href="/user/admin">관리자 페이지</a></h4>
                    <hr style="margin: 20px 0 0 -1px; width: 120px">
                    <ul class="subMenu">
                        <li style="font-size: 18px; margin: 25px 0px">회원관리
                            <ul class="sub_depth1">
                                <li><a href="/user/inquiryAdmin">1:1 문의</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="contentCenter">

            </div>
        </div>
    </div>

    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>