<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/checkPw.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <form id="checkPwForm" action="/user/changePw" method="post">
            <div id="all">
                <div class="group">
                    <h3 style="text-align: center">비밀번호 확인</h3>
                    <hr>
                    <div id="input">
                        <div class="input1" >
                            <input type="hidden" id="id" name="id" th:value="${session.sessionId}">
                            <input type="password" class="box" id="checkPw" name="checkPw" placeholder="비밀번호" minlength="8" maxlength="20">
                        </div>
                    </div>
                    <div>
                        <a class="button" id="checkPwBtn">확인</a>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>


    $("#checkPwBtn").on("click", function(e){
        e.preventDefault();
        //  이벤트발생 막기
        let id = $("#id").val();
        let pw = $("#checkPw").val();
        let form = $("#checkPwForm");
    //    ajax로 요청을 보내서 백단에서 pw검사
        $.ajax({
            url: "/user/checkPw",
            type: "post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({"id": id, "pw": pw}),
            //    결과를 s or f
            success: function (map) {
                //    결과에 따라 s 서브밋 페이지 이동
                if(map.result == "성공"){
                    form.submit();
                //    f 알럿
                }else{
                    alert(map.result);
                    return;
                }


            }
        })

    })
</script>
</body>
</html>