<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/checkPw.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <form>
            <div id="all">
                <div class="group">
                    <h3 style="text-align: center">비밀번호 확인</h3>
                    <hr>
                    <div id="input">
                        <div class="input1" th:object="${map}">
                            <input type="hidden" id="id" th:name="*{id}">
                            <input type="password" class="box" id="checkPw" name="checkPw" placeholder="비밀번호" minlength="8" maxlength="20">
                        </div>
                    </div>
                    <div>
                        <a class="button" id="checkPwBtn">확인</a>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
let id = [[${map.id}]];
console.log("id : " + id);
</script>
</body>
</html>