<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/findUser.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <form>
            <div id="findUser">
                <div class="findId">
                    <h3 style="text-align: center">ID찾기</h3>
                    <hr>
                    <div id="input">
                        <div class="input2">
                            <input type="text" class="box" id="name" placeholder="이름" minlength="5" maxlength="11">
                        </div>
                        <div class="input2">
                            <input type="text" class="box" id="phoneNum" placeholder="핸드폰번호" minlength="8" maxlength="20">
                        </div>
                    </div>
                    <div class="pin">
                        <input type="text" id="pinNum" >
                        <input type="button" id="pinNumBtn" value="인증번호">
                    </div>
                    <div class="findBtn">
                        <a class="button" id="findIdBtn">확인</a>
                    </div>
                </div>

                <hr style="margin: 0; border-left: 1px solid #ddd; margin-top: 100px; height: 260px;">

                <div class="findPw">
                    <h3 style="text-align: center">PW찾기</h3>
                    <hr>
                    <div id="input">
                        <div class="input3">
                            <input type="text" class="box" id="findId" placeholder="아이디" minlength="5" maxlength="11">
                        </div>
                        <div class="input3">
                            <input type="text" class="box" id="phoneNum" placeholder="핸드폰 번호" minlength="8" maxlength="20">
                        </div>
                    </div>
                    <div class="pin">
                        <input type="text" id="pinNum" >
                        <input type="button" id="pinNumBtn" value="인증번호">
                    </div>
                    <div class="findBtn">
                        <a class="button" id="findPwBtn">확인</a>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>