<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
<!--        <form name="loginForm" action="/user/login" method="post">-->
            <div id="all">
                <div class="group">
                    <h3 style="text-align: center">로그인</h3>
                    <hr>
                    <div id="input">
                        <div class="input2">
                            <input type="text" class="box" id="id" name="id" placeholder="아이디" minlength="5" maxlength="11">
                        </div>
                        <div class="input2">
                            <input type="password" class="box" id="pw" name="pw" placeholder="비밀번호" minlength="8" maxlength="20">
                        </div>
                    </div>
                    <div>
                        <input type="button" class="button" id="login" value="로그인">
                    </div>
                    <div style="margin-top: 18px;">
                        <div style="float: left">
                            <a href="/user/join" class="other" id="join">회원가입</a>
                        </div>
                        <div style="float:right;">
                            <a href="/user/findUser" class="other" id="findId">아이디 찾기</a>
                            <span></span>
                            <a href="/user/findUser" class="other" id="findPw">비밀번호 찾기</a>
                        </div>
                    </div>
                </div>
            </div>
<!--        </form>-->
    </div>



    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
<script>
    $("#login").on("click",function(){
        let id = $("#id").val();
        let pw = $("#pw").val();
        if(!$("#id").val()){
            alert("아이디를 입력해주세요.");
            return;
        }
        if(!$("#pw").val()){
            alert("비밀번호를 입력해주세요.");
            return;
        }
        $.ajax({
                url: "/user/login",
                type:"post",
                data:JSON.stringify({"id":id,"pw":pw}),
                contentType: "application/json",
                dataType:"json",
                success:function(result){
                    if(result.result != "ok"){
                        alert("아이디 또는 비밀번호가 다릅니다.");
                        return;
                    }
                    if(result.user.status == 1){
                        alert("탈퇴된 회원입니다.");
                        return;
                    }
                    location.href="/";
                }
            })
    })

    let result = [[${result == false? true: false}]];
    if(result){
        alert("정보를 다시 확인해주세요");
    }
</script>
</html>