<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Untitled</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/myPage.css"/>
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div id="all" style="padding-bottom: 50px">
            <th:block th:include="user/subMenu.html"></th:block>
            <div class="contentCenter">
                <h3 style="margin-top: 40px">기본 정보</h3>
                <hr style="width: 95%; margin-top: 22px; margin-left: 0px">
                <table id="table" th:object="${user}">
                    <tbody>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input type="text" name="memId" readonly th:field="*{id}">
                        </td>

                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <div>
                                <input type="text" readonly th:field="*{name}">
                            </div>
                        </td>
                    </tr>
                    <tr class="tHead">
                        <th>이메일</th>
                        <td class="member_email">
                            <div>
                                <input type="text" readonly th:field="*{email}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰번호</th>
                        <td class="member_address">
                            <div class="address_postcode">
                                <input type="text" maxlength="12" readonly th:field="*{phone}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td class="member_address">
                            <div>
                                <div>
                                    <input type="text" name="address" readonly style="margin-bottom: 0px;" th:field="*{address}">
                                </div>
                                <div>
                                    <input type="text" name="addressSub" readonly th:field="*{addressDetail}">
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>