<div class="contentLeft">
    <div>
        <h4><a href="/user/myPage">마이페이지</a></h4>
        <hr style="margin: 20px 0 0 -1px; width: 120px">
        <ul class="subMenu">
            <li style="font-size: 18px; margin: 25px 0px">회원정보
                <ul class="sub_depth1">
                    <li><a href="/user/userModify">회원 정보 수정</a></li>
                    <li><a href="/user/checkPw?num=1">비밀번호 변경</a></li>
                    <li><a href="/user/checkPw?num=2">회원 탈퇴</a></li>
                    <li><a href="/user/inquiry">1:1 문의</a></li>
                </ul>
            </li>
            <li style="font-size: 18px; margin: 25px 0px">게시판
                <ul class="sub_depth1">
                    <li><a href="/user/myList">내 글 모아보기</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
