.tle{
    padding-top: 52px;
}

footer.row{
    display: flex;
}

ul.expoList{
    list-style: none;
}

.itemName{
    color: black;
    font-size: 28px;
    line-height: 54px;
}

a.itemName:hover{
    color: #8FC672;
}

.tle h1, h2, h3, h4, h5, h6 {
    color: black;
}


span > h1{
    background: #c36839;

}

.itemDetail>p{
    display: inline-flex;
}

.listNum{
    margin-left: 700px;
    display: flex;
}


form[name="searchForm"]{
    width: 1000px;
    display: inline-block;
    justify-content: space-evenly;
    margin-left: 50px;
}