* {
    font-family: "Jeju Gothic";
}

#logo {
    padding: 0;
    margin-top: 2em;
}
#logo div {
    box-shadow: none;
    top: 15px;
    padding: 0;
}

#nav li.current_page_item a {
    width: 156px;
}

#nav li.current_page_item a:hover{
    background: #c97b1f;
}

ul.dropdown {
    background: #c97b1f;
}

#banner {
    background: #4e321c21;
}

div.info a {
    color: #80B763;
}
