#all {
    font-size: 20px;
    display: flex;
    margin-top: 60px;
    min-height: 600px;
}

#all h3, h4 {
    color: black;
}

#all input[type='text'] {
    border: none;
    height: 35px;
    width: 70%;
    box-shadow: none;
    margin-bottom: 1px;
}

.contentLeft {
    width: 30%;
    padding: 40px 0px 20px 30px;
}

#all ul {
    list-style: none;
}

.contentCenter {
    width: 100%;
}

.sub_depth1 li {
    margin-top: 10px;
}

#table {
    border: none;
    border-top: 0.5px solid lightgrey;
    border-collapse: collapse;
    width: 95%;
    margin: 50px 0;
    color: black;
}

#table tr {
    border-bottom: 0.1px solid lightgrey;
    background: white;
    height: 50px;
}

#table th {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
}

#table td {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #696f72;
}

#all input {
    color: black;
}

#all input:focus {
    outline: none;
}

.subMenu {
    padding-left: 0px;
    color: black;
}

.sub_depth1 li {
    font-size: 15px;
}

#content2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#inquiryBtn {
    font-size: 18px;
    background: #c97b1f;
}