.cate {
    width: 130px;
    text-align: center;
    margin-bottom: -2px;
}


.cateBox {
    display: inline-flex;
    margin: 40px 240px;
    justify-content: space-evenly;
    padding: 0 50px;
}


.cateBox a {
    text-decoration: none;
    padding-top: 20px;
}

.cate img {
    width: 20px;
    display: block;
    margin: 10px auto;
}

.cate.on img {
    width: 40px;
    filter: invert(1);
}

.cate span {
    font-size: 16px;
    font-width: bold;
}

.cate.none:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 darkgoldenrod);
}

div.on {
    color: white;
    background: #80b763;
}

div.none {
    color: black;
}

div.on img, div.on span {
}

div.searchBox {
    border: 1px solid #7788995c;
    margin: 0 30px 30px 30px;
    padding: 20px;
}

div.searchMenu {
    width: 940px;
    margin: 0 auto;
}

div.bigCate, div.midCate {
    display: inline-block;
}

div.bigCate select, div.midCate select {
    width: 170px;
    padding: .6em .5em;
    border: 1px solid #999;
    border-radius: 4px;
    height: 40px;
}

.searchMenu .button {
    height: 40px;
    line-height: 27px;
    font-weight: 300;
}

.searchMenu img {
    width: 490px;
    height: 39px;
    margin: 0;
    display: inline-block;
}

.searchMenu input[type="search"] {
    width: 490px;
    height: 40px;
    margin: 0;
    display: inline-block;;
}

.main h1.h1 {
    padding-top: 105px;
    font-size: 40px;
    color: black;
    padding-left: 30px;
}

.main h6 {
    color: #7a8186;
    margin-top: 10px;
    padding-left: 30px;
}

* {
    font-family: "Jeju Gothic";
}

.tle {
    width: 1100px;
}

.tle table {
    margin: 0 auto;
    width: 900px;
    margin-bottom: 30px;
}

.paging {
    margin: 0 auto;
    width: 900px;
    padding-bottom: 30px;
}

.paging table {
    margin: 0 auto;
    width: auto;
}

.paging table td {
    padding: 5px;
}

table a.button {
    width: 100px;
    height: 35px;
    padding: 0;
    font-size: 13px;
    border-radius: 20px;
}

table a.button.stop {
    width: 100px;
    height: 35px;
    padding: 0;
    font-size: 13px;
    border-radius: 20px;
    background: #4a514f;
    cursor: default;
}

.list table td {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 10px 10px;
    line-height: 34px;
    vertical-align: middle;
}

.item {
    text-align: center;
}

.tle h2 {
    color: black;
    font-size: 35px;
}

.button {
    font-family: "Jeju Gothic";
}

.list .th {
    width: 100px;
}
.con_w{
    margin-bottom: 10px;
}
.note-icon-bar, .note-resizebar {
    display: none;
}