<!-- Footer -->
<div id="footer" class="container">
    <footer class="row" style="padding: 0 0 0 40px;">
        <p class="back-top floatright">
            <a href="#top" id="toTop"><span>top</span></a>
        </p>
        <div class="four columns">
            <h1>도움이 필요하신가요?</h1>
            <hr>
            <p>유귀농을 이용하시면서 불편함을 느끼셨나요?<br>혹은 도움이 필요하신가요?<br>언제든지 아래의 주소로 연락주세요!<br>유귀농은 여러분의 관심과 사랑에 항상 고맙습니다.</p>
        </div>
        <div class="four columns">
            <h1>찾아오시는 길</h1>
            <hr>
            <ul class="contact" style="list-style: none; margin-left: -15px;">
                <li class="icon solid fa-envelope">  admin@yougn.com</li>
                <li class="icon solid fa-phone">  (02)1204-1204</li>
                <li class="icon solid fa-home">  서울특별시 강남구 테헤란로 146<br>&nbsp;&nbsp;&nbsp;&nbsp;
                    현익빌딩 4층(역삼동)<br/></li>
            </ul>
        </div>
        <div class="four columns" style="padding-right: 145px";>
            <h1 class="newsmargin">NEWSLETTER</h1>
            <hr>
            <div class="row collapse newsletter floatright">
                <div class="ten mobile-three columns" style="padding-left: 40px;width: 115px;">
                    <input type="text" class="nomargin" placeholder="Enter your e-mail address..."
                    style="width: 180px;">
                </div>
                <div class="two mobile-one columns">
                    <a href="#" class="postfix button expand"
                       style="margin-left: 18x;height: 28px;margin-top: 1px;padding-bottom: 22px;font-size: 12px;margin-right: -43px;">
                        GO
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>