<link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
<link rel="shortcut icon" href="/img/favicon.ico">
<html xmlns:th="http://www.thymeleaf.org/">

<style>
    * {
        font-family: "Jeju Gothic";
    }

    a{
        font-weight: 500;
        text-decoration: none;
    }
    .info{
        margin-left: 60%;
    }
</style>
<!-- Header -->
<div id="header">
    <div class="container" style="padding: 0 !important">

        <div class="info">
            <th:block th:if="${session.sessionId == 'yougnAdmin'}">
                <a href="/user/admin">관리자 페이지</a>&nbsp;&nbsp;
                <a href="/user/logout">로그아웃</a>&nbsp;&nbsp;
            </th:block>
            <th:block th:if="${session.sessionId == null}">
                <a href="/user/login">로그인</a>&nbsp;&nbsp;
                <a href="/user/join">회원가입</a>&nbsp;&nbsp;
                <a href="/user/findUser">ID/PW 찾기</a>&nbsp;&nbsp;
            </th:block>
            <th:block th:if="${session.sessionId != 'yougnAdmin' and session.sessionId != null}">
                <a href="/user/myPage">마이 페이지</a>&nbsp;&nbsp;
                <a id="logout" href="/user/logout">로그아웃</a>&nbsp;&nbsp;
            </th:block>
        </div>
        <!-- Logo -->
        <div id="logo">
            <div style="box-shadow: none">
                <a href="/">
                <img src="/img/logo.png" width="700px" style="margin-bottom: -30px;">
                </a>
            </div>
        </div>

        <!-- Nav -->
        <nav id="nav" style="height: 5px">
            <ul>
                <li class="current_page_item">
                    <a href="/" style="font-weight: 500; width: 170px;">Home</a>
                </li>
                <li class="current_page_item">
                    <a href="/support/hallList" style="font-weight: 500; width: 170px;">귀농 지원</a>
                    <ul class="dropdown">
                        <li><a href="/support/hallList" style="font-weight: 500;">지역 연락망</a></li>
                        <li><a href="/support/returnList" style="font-weight: 500;">특산물 정보</a></li>
                        <li><a href="/support/classList" style="font-weight: 500;">농사 수업</a></li>
                        <li><a href="/support/infoList" style="font-weight: 500;">농사 정보</a></li>
                    </ul>
                </li>
            <!--
                <li class="current_page_item">
                    <a href="index.html" style="font-weight: 500;">귀농 체험</a>
                    <ul class="dropdown">
                        <li><a href="#" style="font-weight: 500;">주말 농부</a></li>
                        <li><a href="#" style="font-weight: 500;">체험</a></li>
                    </ul>
                </li>
                -->
                <li class="current_page_item">
                    <a href="/market/marketList" style="font-weight: 500; width: 170px;">You! 귀농 장터</a>
                </li>
                <li class="current_page_item">
                    <a href="/expo/list" style="font-weight: 500;width: 170px;">컴백촌 EXPO</a>
                </li>
                <li class="current_page_item">
                    <a href="/board/list?boardType=0" style="font-weight: 500; width: 170px;">게시판</a>
                    <ul class="dropdown">
                        <li><a href="/board/list?boardType=0" style="font-weight: 500; ">공지사항</a>
                        </li>
                        <li><a href="/board/list?boardType=1" style="font-weight: 500;">팝니다 / 삽니다</a>
                        </li>
                        <li><a href="/board/list?boardType=3" style="font-weight: 500;">임대 / 매매</a>
                        </li>
                        <li><a href="/board/list?boardType=5" style="font-weight: 500;">귀농 지식IN</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>
</html>