<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <div id="logo">
            <div style="box-shadow: none">
                <img src="/img/logo.png" width="700px">
            </div>
        </div>

        <!-- Nav -->
        <nav id="nav" style="height: 5px">
            <ul>
                <li class="current_page_item">
                    <a href="index.html">귀농 지원</a>
                    <ul class="dropdown">
                        <li><a href="#">마을회관</a></li>
                        <li><a href="#">특산물 정보</a></li>
                        <li><a href="#">농사 수업</a></li>
                        <li><a href="#">농사 정보</a></li>
                    </ul>
                </li>
                <li class="current_page_item">
                    <a href="index.html">귀농 체험</a>
                    <ul class="dropdown">
                        <li><a href="#">주말 농부</a></li>
                        <li><a href="#">체험</a></li>
                    </ul>
                </li>
                <li class="current_page_item"><a href="index.html">떨이</a></li>
                <li class="current_page_item"><a href="index.html">컴백촌 EXPO</a></li>
                <li class="current_page_item">
                    <a href="index.html">게시판</a>
                    <ul class="dropdown">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">수매요청</a></li>
                        <li><a href="#">임대, 매매</a></li>
                        <li><a href="#">지식인</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>