<link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

<style>
    * {
        font-family: "Jeju Gothic";
    }

    a{
        font-weight: 500;
    }
    .info{
        margin-left: 1138px;
        font-size: 12px;
        text-align: right;
    }
</style>
<!-- Header -->
<div id="header">
    <div class="container">


        <!-- Logo -->
        <div id="logo">
            <div style="box-shadow: none">
                <img src="/img/logo.png" width="700px" style="margin-bottom: -27px;">
            </div>
        </div>
            <div class="info">
                <a href="">로그인</a>&nbsp;&nbsp;
                <a href="">회원가입</a>&nbsp;&nbsp;
                <a href="">ID/PW 찾기</a>&nbsp;&nbsp;
                <a href="">로그아웃</a>&nbsp;&nbsp;
                <a href="">마이 페이지</a>&nbsp;&nbsp;
            </div>


        <!-- Nav -->
        <nav id="nav" style="height: 5px">
            <ul>
                <li class="current_page_item">
                    <a href="index.html" style="font-weight: 500;">귀농 지원</a>
                    <ul class="dropdown">
                        <li><a href="#" style="font-weight: 500;">마을회관</a></li>
                        <li><a href="#" style="font-weight: 500;">특산물 정보</a></li>
                        <li><a href="#" style="font-weight: 500;">농사 수업</a></li>
                        <li><a href="#" style="font-weight: 500;">농사 정보</a></li>
                    </ul>
                </li>
                <li class="current_page_item">
                    <a href="index.html" style="font-weight: 500;">귀농 체험</a>
                    <ul class="dropdown">
                        <li><a href="#" style="font-weight: 500;">주말 농부</a></li>
                        <li><a href="#" style="font-weight: 500;">체험</a></li>
                    </ul>
                </li>
                <li class="current_page_item">
                    <a href="index.html" style="font-weight: 500;">떨이</a>
                </li>
                <li class="current_page_item">
                    <a href="index.html" style="font-weight: 500;">컴백촌 EXPO</a>
                </li>
                <li class="current_page_item">
                    <a href="index.html" style="font-weight: 500;">게시판</a>
                    <ul class="dropdown">
                        <li><a href="#" style="font-weight: 500;">공지사항</a>
                        </li>
                        <li><a href="#" style="font-weight: 500;">수매요청</a>
                        </li>
                        <li><a href="#" style="font-weight: 500;">임대, 매매</a>
                        </li>
                        <li><a href="#" style="font-weight: 500;">지식인</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>