<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인-YOU귀농</title>
</head>
<style>
    .tle{
        width: 1100px;
        margin: 0 auto;
    }
    .logoWrap{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    a{
        text-decoration: none !important;
    }
    .member{
        display: inline-block;
        float: right;
    }
</style>
<body style="
    margin: 0;
">
<header id="header">
    <div id="topHeader" class="tle" style="
    height: 100px;
">
        <div class="logoWrap">
            <img src="/img/logo.png">
        </div>
        <div class="member">
            <ul style="list-style: none;display: flex;justify-content: center;padding: 0;">
                <li><a>로그인</a></li>
                <li><a>회원가입</a></li>
                <li><a>ID/PW 찾기</a></li>
            </ul>
        </div>
    </div>
    <div id="subHeader" class="tle" style="
    height: 60px;
    background: lightcyan;
">
        <ul style="
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 17px;
    font-size: 18px;
    font-weight: bold;
">
            <li><a>귀농지원</a></li>
            <li><a>떨이</a></li>
            <li><a>체험</a></li>
            <li><a>게시판</a></li>
            <li><a>공지사항</a></li>
        </ul>
    </div>
</header>
<section style="
    background: lightgoldenrodyellow;
">
    <div class="tle" style="
    height: 1000px;
    /* background: lightgoldenrodyellow; */
">
    </div>

</section>

</body>
</html>