<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인-YOU귀농</title>
    <link rel="stylesheet" href="css/skin.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
</head>
<style>

    h1, h2, h3, h4, a, p, li, div, input{
    }

    li>a {
        font-size: 30px;
    }
    .headermenu{
        width:1000px !important;
    }
    .twelve{
        width: 200px;
    }
    table {
        width: 112%;
    }
    li{
        margin-right: 20px !important;
    }
    #icon{
        height: 100px;
    }
    .logo{
        width: 1000px !important;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .headerlogo{
        width: 900px !important;
    }
    .info{
        float: right;
        margin-top: 86px;
        font-size: 16px;
    }
    div.dropdown-menu{
        background: red;
        z-index: 1;
    }
</style>
<body style="margin: 0;">
<!--HEADER -->
<header id="header">
    <div class="row">
        <div class="headerlogo four columns">
            <div class="logo">
                <a href= "">
                    <img id="icon" src="img/logo.png">
                </a>
                <div class="info">
                    <a href="">로그인</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">회원가입</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">ID/PW 찾기</a>
                    <a href="">로그아웃</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">마이 페이지</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <div id="subheader" class="subheadertext" style="padding:0px 0px !Important;">
        <div class="row">
            <div class="twelve columns dropdowner">
                <div class="headermenu eight columns noleftmarg">
                    <nav id="nav-wrap">
                        <ul id="main-menu" class="nav-bar sf-menu">
                            <li class="current">
                                <a href="">귀농 지원</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a>마을회관</a></li>
                                        <li><a>특산물 정보</a></li>
                                        <li><a>농사 수업</a></li>
                                        <li><a>농사 정보</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="">귀농 체험</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a>주말 농부</a></li>
                                        <li><a>체험</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="">떨이(이름 미정)</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a>떨이</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="">컴백촌 EXPO</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a>귀농 청년</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="">게시판</a><div class="dropdown-menu">
                                <ul>
                                    <li><a>공지사항</a></li>
                                    <li><a>수매요청</a></li>
                                    <li><a>임대, 매매</a></li>
                                    <li><a>지식인</a></li>
                                </ul>
                            </div>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


<section style="background: lightgoldenrodyellow;">
    <div class="tle" style="height: 1000px;/* background: lightgoldenrodyellow; */">
    </div>
</section>

<!-- FOOTER -->
<div id="footer">
    <footer class="row">
        <p class="back-top floatright">
            <a href="#top" id="toTop"><span>top</span></a>
        </p>
        <div class="four columns">
            <h1>도움이 필요하신가요?</h1>
            <p>유귀농를 이용하시면서 불편함을 느끼셨나요?<br>혹은 도움이 필요하신가요?<br>언제든지 아래의 주소로 연락주세요!<br>유귀농는 여러분의 관심과 사랑에 항상 고맙습니다.</p>
        </div>
        <div class="four columns">
            <h1>찾아오시는길</h1>
            <ul class="contact">
                <li class="icon solid fa-envelope">admin@yougn.com</li>
                <li class="icon solid fa-phone">(02)1204-1204</li>
                <li class="icon solid fa-home">서울특별시 강남구 테헤란로 146 현익빌딩 4층(역삼동)<br/></li>
            </ul>
        </div>
        <div class="four columns">
            <h1 class="newsmargin">NEWSLETTER</h1>
            <div class="row collapse newsletter floatright">
                <div class="ten mobile-three columns">
                    <input type="text" class="nomargin" placeholder="Enter your e-mail address...">
                </div>
                <div class="two mobile-one columns">
                    <a href="#" class="postfix button expand">GO</a>
                </div>
            </div>
        </div>

    </footer>
</div>
<div class="copyright">
    <div class="row">
        <div class="six columns">
            &copy;<span class="small"> YOU귀농 2021. All rights reserved.</span>
        </div>
        <div class="six columns">
            <span class="small floatright"> Template by <a href="www.wowthemes.net">WowThemes.net</a></span>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.8.1.min.js"></script>
<script>
    // $("div.dropdown-menu").hide();
    // $("div.dropdowner").mouseover(function(){
    //     $("div.dropdown-menu").slideDown();
    //     $("div.dropdown-menu").css("display","block");
    // })
    // $("div.dropdowner").mouseleave(function () {
    //     $("div.dropdown-menu").hide();
    // })
</script>
</body>
</html>