<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>EXPO목록 - you귀농</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/expo.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
<style>

    ul>li>div>img{
        width: 250px;
        height: 215px;
        margin-top: 15px;
    }

    h2, h3, h4,h5,h6{
        color: black;
    }
</style>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">
    <th:block th:include="header.html"></th:block>

    <!--Main-->
<section>
    <div class="main" style="height: auto;">
        <div class="tle">
            <div class="category">
                <img src="/img/pageBanner_dark3.png">
            </div>
<!--            <hr style="border-top: solid 1px green; margin-top: 0px;">-->
                <a href="javascript:void(0)" class="writeButton primary button" style="float: right;margin-right: 20px;border: solid 1px green;font-weight: 100;padding:5px 12px;">EXPO 참가 등록</a></h3>
            <ul class="expoList">
                <th:block th:each="index : ${#numbers.sequence(0,list.size()-1)}">
                    <div>
                        <li class="expoItem" th:object="${list.get(index)}">
                            <div class="expoItemInner">
                                <div class="thumbWrapper" style="display: flex">
                                    <div class="field">
                                        <div class="uploadResult">
                                            <ul th:id="${index}">
<!--                                                <p id="hiddenNum" th:text='${index.index}'></p>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="field">

                                    </div>
                                    <div class="itemInfo">
                                        <!--제목-->
                                        <div class="itemTitle">
                                            <h4><a target="_self" class="itemName" id="goRead" name="expoTitle" th:text="*{expoTitle}" th:href="*{expoNum}"></a></h4>
                                        </div>
                                        <br>
                                        <!--작성자-->
                                        <div class="userId">
                                            작성자 : &nbsp;<p style="color: black;margin-bottom: 10px;font-size: 13px;" name="userId" th:text="*{userId}"></p>

                                        </div>
                                        <!--내용-->
                                        <div class="itemDetail">
                                            농장 이름 : <p th:text="*{farmName}" name="farmName"></p><br>
                                            주소 : <p th:text="*{farmAddress}" name="farmAddress"></p><br>
                                            주요 품목 : <p th:text="*{farmProduct}" name="farmProduct"></p><br>
                                            전화번호 : <p th:text="*{farmPhone}" name="farmPhone"></p><br>
                                        </div>
                                        <div class="listNum">
                                            No.<p id="expoNumber" name="expoNum" th:text="*{expoNum}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                     </div>
                </th:block>
            </ul>
            <form action="/expo/list" name="searchForm">
                <div class="fields">
                    <div class="field"></div>
                    <div style="margin-bottom: 50px; margin-top: 50px; ">
                        <div id="searchWrap" th:object="${pageMaker}" style="display: flex;">
                            <select name="keyType" th:object="${criteria}" style="padding: 0; width: 100px; font-weight: bold;">
                                <option value="">전체 ▼</option>
                                <option value="T" th:selected="*{keyType} == 'T'">제목</option>
                                <option value="C" th:selected="*{keyType} == 'C'">내용</option>
                                <option value="W" th:selected="*{keyType} == 'W'">작성자</option>
                            </select>
                            <input id="keyword" type="text" name="keyword" th:value="*{criteria.keyword}" >
                            <!--버튼-->
                            <a href="javascript:void(0)" class="search button primary icon solid fa-search" style="height: 37px;font-size: 14px;font-weight: 500;border: solid 1px green;">
                                검색
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <div th:object="${pageMaker}">
                <div class="big-width" style="text-align: center">
                    <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                    <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                        <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
                        <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="${num}"><code th:text="${num}"></code></a>
                    </th:block>
                    <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
                </div>
                <form action="/expo/list" th:object="${criteria}" name="pageForm">
                    <input type="hidden" name="pageNum" th:field="*{pageNum}">
                    <input type="hidden" name="amount" th:field="*{amount}">
                    <input type="hidden" name="keyType" th:field="*{keyType}">
                    <input type="hidden" name="keyword" th:field="*{keyword}">
                </form>
            </div>
        </div>
    </div>
</section>


    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
</body>
<script th:inline="javascript">

    let pageForm = $(document.pageForm); // 페이징 Form 태그
    let paging = [[${pageMaker.criteria.listLink}]]; // 페이징
    let searchForm = $(document.searchForm); // 검색기능 Form 태그
    let expoNum = $("#expoNumber").text(); // 엑스포 넘버
    let uploadResult = $(".uploadResult ul") // 썸네일 들어갈 태그
    let list = [[${list}]];


    $(document).ready(function(){
        history.replaceState({}, null, "/expo/list");
        for(let a = 0; a < list.length; a++) {
            (function () {
                $.getJSON("/expo/getAttachList", {expoNum: list[a].expoNum},
                    function (arr) {
                        console.log(arr);
                        let str = "";

                        $(arr).each(function (i, attach) {
                            console.log(attach.image);
                            if (!attach.image) {
                                let fileCallPath = encodeURIComponent(attach.uploadPath + "/" + attach.uuid + "_" + attach.fileName);
                                str += "<li>";
                                str += "<div>";
                                str += "<img src='/img/attach.png' width='100px'>";
                                str += "</div>";
                                str += "</li>";
                            } else {
                                let fileCallPath = encodeURIComponent(attach.uploadPath + "/s_" + attach.uuid + "_" + attach.fileName);
                                let originPath = encodeURIComponent(attach.uploadPath + "/" + attach.uuid + "_" + attach.fileName);

                                str += "<li>";
                                str += "<div>";
                                str += "<img src='/upload/display?fileName=" + fileCallPath + "'>";
                                str += "</div>";
                                str += "</li>";
                            }
                        });
                        $("#" + a).html(str);
                    });//getJSON
            })();
        }


        if(expoNum != null || history.state){
            return;
        }
        alert("게시글 " + expoNum + "번이 등록되었습니다.");
        history.replaceState({}, null, null);
    });


    // 페이징 양쪽 부등호
    $("a.changePage").click(function(e){
        e.preventDefault();
        pageForm.attr("action", "/expo/list")
        pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        pageForm.submit();
    });


    //제목 눌렀을 때
    $("a#goRead").on("click", function(e){
        e.preventDefault();
        console.log(expoNum);
        location.href = "/expo/readDetail" + paging  + "&expoNum=" + $(this).attr("href");

    })

    //검색할 때
    $("a.search").on("click", function(e){
        e.preventDefault();
        if(!searchForm.find("option:selected").val()){
            alert("검색 종류를 선택하세요");
            return;
        }

        if(!searchForm.find("input#keyword").val()){
            alert("키워드를 입력하세요");
            return;
        }
        searchForm.submit();
    });

    $("input#keyword").on("keydown", function(e){
        if(e.keyCode == 13){
            e.preventDefault();
        }
    })

    $("a.writeButton").on("click", function (e) {
        e.preventDefault();
        location.href = "/expo/writeExpo";
    })



</script>
</html>