<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>EXPO 상세보기 - you귀농</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/expoDetail.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
</head>
<style>
    .photo{
        width: 500px;
        height: 500px;
        line-height: 450px;
        border-right: solid 0.5px;
        background: ivory;
        text-align: center;
    }
</style>
<body class="homepage is-preload">
<div id="page-wrapper">
    <th:block th:include="header.html"></th:block>

<section>
    <div class="tle" style="height: auto;">
        <div class="main" style="height: auto;">
            <div class="category">
                <img src="/img/pageBanner_detail.png">
            </div>
            <div style="display: flex; float: right">
                <input style=" margin-right: 10px; height: 35px; width: 100px; line-height: normal;" class="primary" type="button" value="수정">
                <input style=" margin-right: 10px; height: 35px; width: 100px; line-height: normal;" class="primary" type="button" value="삭제">
                <input style=" margin-right: 10px; height: 35px; width: 125px; line-height: normal;" class="primary" type="button" value="목록보기">
            </div>
            <br>
            <br>
            <form method="post" action="/expo/remove">
            <div class="fields" th:object="${expo}">
                <div class="field">
                    <h3 name="expoName" style="font-size: 30px; height: 50px; text-align: center"></h3>
                </div>
            <!--내용 시작-->
            <div style="display: flex">
                <div class="photo" style="margin-left: 20px">썸네일 미리보기 사진</div>
                <div style="margin-top: 30px">
                    <!--농장이름, 농장주(작성자), 농장 전화번호(?), 농장 주소-->
                    <div class="field">
                        <h4 style="margin-left: 50px">농장이름</h4>
                        <p th:text="*{farmName}" name="farmName" style="height: 30px; width: 500px; margin-left: 50px"></p>
                    </div>
                    <br>
                    <div class="field">
                        <h4 style="margin-left: 50px">농장주</h4>
                        <p th:text="*{farmerName}" name="farmerName" style="height: 30px; width: 500px; margin-left: 50px"></p>
                    </div>
                    <br>
                    <div>
                        <h4 style="margin-left: 50px">주소</h4>
                        <p th:text="*{farmAddress}" name="farmAddress" style="height: 30px; width: 500px; margin-left: 50px"></p>
                    </div>
                    <br>
                    <div>
                        <h4 style="margin-left: 50px">전화번호</h4>
                        <p th:text="*{farmPhone}" name="farmPhone" style="height: 30px; width: 500px; margin-left: 50px"></p>
                    </div>
                    <br>
                    <div>
                        <h4 style="margin-left: 50px">주요품목</h4>
                        <p th:text="*{farmProduct}" name="farmProduct" style="height: 30px; width: 500px; margin-left: 50px"></p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="contentOutLine"><!--본문-->
                <div class="expoContent" name="expoContent" rows="6" style="resize:none" readonly></div>
            </div><!--outline-->
            </div>
            <div class="BottomLike" style="text-align: center;">
                <!--자바스크립트로 좋아요 효과 주기-->
                <img class="likeStar" src="/img/like_sample.png">
            </div>
            </form>
        </div>
    </div>
    <br>
    <a href="/expo/list" class="primary button"
       style="border: solid 1px green;font-weight: 100;width: 124px;height: 35px; padding-top: 4px; margin-left: 895px; margin-top: 8px;">목록 보기
    </a>
</section>
    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>


</body>
<script th:inline="javascript">
    let expoContent = [[${expo.expoContent}]];

    $(".expoContent").html(expoContent);


</script>
</html>