<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Expo 글 작성</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/expo.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <!--썸머노트-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />

</head>
<style>
    .photo{
       width: 500px;
        height: 500px;
        line-height: 450px;
        border-right: solid 0.5px;
        background: ivory;
        text-align: center;
    }
    .uploadResult ul li img{
        width: 400px!important;
        height: 300px!important;
    }

    li {
        list-style: none;
    }

    h4{
        color: black;
    }

    input{
        font-family: "Jeju Gothic";
    }

</style>
<body class="homepage is-preload"  style="background: #fbf9f4">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>
    <!--Main-->
        <div class="main" style="height: auto;padding-bottom: 100px;">
                <div class="category">
                    <img src="/img/pageBanner_write.png" style="padding-top: 53px;">
                </div>
            <form id="writeForm" name="postForm" method="POST" action="/expo/writeExpo">
            <input type="text" name="expoTitle"  placeholder ="제목을 입력해주세요." id="expoTitle" style="background:white; margin-top: 40px;  width: 1060px; height: 50px; border: solid 0.3px #a9a9a9; margin-left: 20px; font-size: 20px; padding-left: 10px;">
                <hr>
                <div class="thumbWrapper" style="display: flex">
                    <div class="field" style="height: 390px; width: 371px;margin:68px 40px 0 40px;">
                        <p style="text-align: center; font-size: 18px; font-weight: 600;margin-left: 20px; width: 400px;">대표사진</p>
                        <input type="file" id="fileBtn" name="uploadFiles" style="display: block">
                        <div class="uploadResult">
                            <ul><!--이미지 들어갈 공간--></ul>
                        </div>
                    </div>

                    <div style="margin-top: 70px; margin-left: 50px;border-left: solid 1px black;">
                        <!--농장이름, 농장주(작성자), 농장 전화번호(?), 농장 주소-->
                        <div>
                            <input name="userId" th:value="${id}" type="hidden">
                        </div>
                        <div style="margin-top: 12px;">
                            <h4 style="margin-left: 50px">농장이름 *</h4>
                            <input name="farmName" style="height: 30px; width: 500px; margin-left: 50px;margin-top: 10px;" type="text" placeholder="농장 이름">
                        </div>
                        <br>
                        <div>
                            <h4 style="margin-left: 50px">농장주 *</h4>
                            <input name="farmerName" style="margin-top: 10px;height: 30px; width: 500px; margin-left: 50px" type="text" placeholder="농장주">
                        </div>
                        <br>
                        <div>
                            <h4 style="margin-left: 50px">농장 주소 *</h4>
                            <input name="farmAddress" style="margin-top: 10px;height:30px; width: 500px; margin-left: 50px" type="text" placeholder="농장 주소">
                        </div>
                        <br>
                        <div>
                            <h4 style="margin-left: 50px">농장 전화번호</h4>
                            <input name="farmPhone" style="margin-top: 10px;height: 30px; width: 500px; margin-left: 50px" type="text" placeholder="농장 전화번호">
                        </div>
                        <br>
                        <div>
                            <h4 style="margin-left: 50px">농장 주요 품목</h4>
                            <input name="farmProduct" style="margin-top: 10px;height: 30px; width: 500px; margin-left: 50px" type="text" placeholder="농장 주요 품목">
                        </div>
                    </div>
                </div>
                <hr style="margin-top: 50px;">

                <!-- summernote와 관련된 영역 -->

                <textarea id="summernote" name="expoContent" onKeyup="inputLimitByteChecked( this );" data-byte="4000" style="resize: none;"></textarea>

                <!-- 버튼과 관련된 영역 -->

                <div align="center" class="btn-box">

                    <input type="submit" id="sendSummer" class="button" value="작성" style="top: -2px;font-weight: 500" >
                    <a class="button" onclick="history.back()" style="padding: 6px; height: 31px; line-height: 23px; width: 81px; font-weight: 500" >취소</a>

                </div>

                <br>

            </form>


        </div>

        </div>
<input type="hidden" th:value="${id}" id="sessionId">
    <th:block th:include="footer.html"></th:block>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="/js/board/expowrite.js"></script>
<!-- include summernote css/js-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
        let regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
        let maxSize = 5242880;// 5MB
        let inputFile = $(".uploadDiv input");
        let uploadResult = $(".uploadResult ul");
        let inputImg = $(".inputImg");
        let check = false;
        //form태그에 input hidden 생성 실습
        //서버 쪽으로 전달할 첨부파일의 데이터를 input type hidden으로 추가하기
        //추가된 li태그를 모두 가져와서 data속성을 통해 알맞는 값을 설정한다.
        //form.append("추가할 HTML") : HTML 추가
        //submit을 눌렀을 때 click 이벤트를 발생하고, 기존 submit이벤트는 막아줘야 한다.
        //input태그가 모두 추가된 후 submit()해준다.

        $("input[type='submit']").on("click", function(e){
            e.preventDefault();
            let form = $("form#writeForm");
            let str = "";
            $(".uploadResult ul li").each(function(i, obj){
                str += "<input type='hidden' name='attachList[" + i + "].fileName' value='" + $(obj).data('name') + "'>"
                str += "<input type='hidden' name='attachList[" + i + "].uuid' value='" + $(obj).data('uuid') + "'>"
                str += "<input type='hidden' name='attachList[" + i + "].uploadPath' value='" + $(obj).data('path') + "'>"
                str += "<input type='hidden' name='attachList[" + i + "].image' value='" + $(obj).data('type') + "'>"
            });

                if(!$("#expoTitle").val()){
                    alert("제목을 입력해주세요.");
                    return;
                }
                if(!$("#summernote").val()){
                    alert("내용을 입력해주세요.");
                    return;
                }

            form.append(str).submit();
        })

        function showUploadFile(uploadFiles){
            let str = "";
            $(uploadFiles).each(function(i, obj){
                if(!obj.image){
                    let fileCallPath = encodeURIComponent(obj.uploadPath + "/" + obj.fileName);

                    str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                    str += "<div>";
                    str += "<img src='/img/attach.png' width='100px'>"
                    str += "<span data-file='" + fileCallPath + "' data-type='file'>x</span>";
                    str += "</div>";
                    str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                }else{
                    let fileCallPath = encodeURIComponent(obj.uploadPath + "/s_" + obj.fileName);
                    let originPath = encodeURIComponent(obj.uploadPath + "/" + obj.fileName);

                    str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                    str += "<div>";
                    str += "<img src='/upload/display?fileName=" + originPath + "'>"
                    str += "<span data-file='" + originPath + "' data-type='image'>x</span>";
                    str += "</div>";
                    str += "</li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                }
            });
            uploadResult.html(str);
        }


        $(".uploadResult").on("click", "span", function(){
            let targetFile = $(this).data("file");
            let type = $(this).data("type");
            let li = $(this).parents("li");

            $.ajax({
                url: "/upload/deleteFile",
                type: "POST",
                data: {fileName:targetFile, type:type},
                dataType: "text",
                success: function(result){
                    alert(result);
                    li.remove();
                    $("#fileBtn").show();
                }
            });

        });

        if(!$("input#sessionId").val()){
            alert("로그인이 필요합니다.");
            location.href = "/user/login";
            return;
        }




        //확장자 별 업로드 제한, 특정 크기 이상의 파일은 업로드 제한
        function checkExtension(fileName, fileSize){
            if(regex.test(fileName)){
                alert("업로드 할 수 없는 파일의 형식입니다.");
                return false;
            }
            if(fileSize >= maxSize){
                alert("파일 사이즈 초과");
                return false;
            }
            return true;
        }

        $("input[type='file']").change(function(){
            let formData = new FormData();
            let inputFile = $("input[name='uploadFiles']");
            let files = inputFile[0].files;

            if(files.length > 1){
                    alert("대표사진은 한장만 등록이 가능합니다.")
                return;
            }

            if(files != ""){
                $("#fileBtn").hide();
            }

            for(let i=0; i<files.length; i++){
                if(!checkExtension(files[i].name, files[i].size)){ return; }
                formData.append("uploadFiles", files[i]);
            }




            $.ajax({
                url: "/upload/uploadAjaxAction",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function(fileList){
                    showUploadFile(fileList);
                    console.log(fileList);
                    inputFile.val("");
                }
            });
        });
    })

</script>


</html>