.table-wrapper {
    width: 1050px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

tr.tHead th {
    font-weight: bold;
    color: #888888;
    background: #EEEEEE;
    text-align: center;
}

#keyword, #keyword1 {
    margin: 0;
    border: 1px solid;
    width: 562px;
}

select {
    width: 125px;
    max-height: 31px;
    padding: 0 !important;
    max-width: 168px;
    background: white !important;
}

a.search {
    width: 70px;
    max-height: 31px;
}

#searchWrap {
    display: flex;
    width: 900px;
    justify-content: center;

}

.tle {
    background: white;
}

th.title {
    width: 430px;
}

th.bno {
    width: 80px;
}


.inputBtn { /*팝니다 삽니다 버튼*/
    display: flex;
    width: 636px;
    height: fit-content;
    margin-bottom: -120px;
    margin-top: 74px;
    justify-content: flex-start;
}


#choice1, #choice2 {
    background: #FFFFFF;
    width: 120px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#choice2 {
    margin-left: -4px;
}

.bno, .writer, .regDate, .updateDate, .viewCtn { /*테이블 내용 가운제 정렬 (제목 제외)*/
    text-align: center;
}

#BtnDiv {
    margin-top: 50px;
}

.tBody {
    border-bottom: 1px solid black;
}

table {
    background: white;
    min-height: 150px;
}

.tBody td {
    vertical-align: middle;
}

.a-write {
    margin-top: 87px;
    float: right;
    height: 30px;
    color: #888888;
    font-size: 16px;
    background: #EEEEEE;
}

.smallTitle {
    font-size: 30px;
    margin-left: 90px;
    font-weight: 900;
}

.horizon {
    width: 888px;
    border-bottom: double;
    margin-top: 10px;
    margin-left: 90px;
}

.main {
    padding-top: 60px !important;
}

a#goRead {
    color: #7a8186;
}


.big-width {
    text-align: center;
}

select[NAME="keyType"] {
    border: solid 0.5px black;
}

