.view {
    width: 1000px;
    padding-left: 66px;
    margin: 0 auto;
    margin-top: 90px;
}

.vContent{
    min-height: 400px;
    width: 888px;
    margin-top: 12px;
    border: 1px double;
    background: white;
}

.vTitle {
    background: white;
    width: 888px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid;
}
 p#p-title {
    margin-bottom: 1.5rem;
    font-size: 32px;
}

.replyDiv {
    width: 888px;
    margin-left: -12px;
}

ul.reply {
    margin-left: -12px;
    width: 888px;
    list-style: none;
}

.horizon {
    width: 888px;
    height: 49px;
    border-bottom: double;
    border-top: double;
    margin-top: 10px;
}
.register-form{
    width: 888px;
}

.reContent {
    min-height: 75px;
    width: 888px;
    border: 1px solid #7a8186;
    background: white;
}

p.p-writer{
    width: 150px;
    margin-bottom: 0;
    border: 1px solid #7a8186;
    border-bottom: none;
    font-weight: bold;
    background: white;
}

textarea {
    resize: none;
    border: 1px solid #7a8186;
    width: 888px;
}

.smallTitle{
    font-size: 20px;
    margin-left: 55px;
    font-weight: 900;
    border-bottom: double;
}
#horizon {
    width: 888px;
    border-bottom: double;
    margin-top: 10px;
    margin-left: 55px;
}
div.Btn{
    text-align: center;
}
div.listBtn{
    margin-top: -20px;
    margin-bottom: 20px;
    width: 888px;
    display: flex;
    justify-content: space-between;
}

#choice1{
    background: #FFFFFF;
    width: 120px;
    font-size: 20px;
    text-align: center;
    color: #80B763;
    border-bottom: 3px solid green;
}
.main{
    padding-top: 60px;
    padding-bottom: 26px;
}

