<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>마켓장바구니</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">


</head>
<body class="homepage is-preload"  style="background: #fbf9f4">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
<section>
    <div class="main" style="height: auto;">
        <div class="category">
            <img src="/img/yougnMarketKart.png" style="padding-top: 53px;">
        </div>
        <div class="ListTable">
            <table>
                <thead>
                <tr class="tHead">
                    <th class="ordernum">주문번호</th>
                    <th class="itemnum">상품번호</th>
                    <th class="itemname">상품명</th>
                    <th class="orderdate">구매날짜</th>
                    <th class="orderaddress">주소</th>
                    <th class="orderdetailaddress">상세주소</th>
                    <th class="orderpayment">결제가격</th>
                    <th class="ordercount">수량</th>
                    <th class="orderstate">상태</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="index : ${#numbers.sequence(0,list.size()-1)}">
                    <tr class="tBody" th:object="${list.get(index)}">
                        <td class="ordernum" th:text="*{orderNum}"></td>
                        <td class="itemnum" th:text="*{itemNum}"></td>
                        <td class="itemname" th:text="*{itemName}"></td>
                        <td class="orderdate" th:text="*{orderDate}"></td>
                        <td class="orderaddress" th:text="*{orderAddress}"></td>
                        <td class="orderdetailaddress" th:text="*{orderAddressDetail}"></td>
                        <td class="orderdetailaddress" th:text="*{orderPayment}"></td>
                        <td class="ordercount" th:text="*{orderCount}"></td>
                        <td class="orderstate" th:id="${index}" th:text="*{status}"></td>
                        <td><a th:href="*{orderNum}" class="button tag" value="배송확인"></a></td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</section>
    <br>
</div>
    <th:block th:include="footer.html"></th:block>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">
    let list = [[${list}]];

    for (let i = 0; i < list.length; i++){
        let str = $("#"+i).text() == 0 ? "배송 중" : "배송 완료";
        $("#"+i).html(str);
    }


    $(".tag").on("click", function (e) {
        e.preventDefault();
        location.href = "/market/marketStatus?orderNum=" + $(this).attr("href");
    })



</script>
</body>
</html>