<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>마켓리스트</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
<style>
    .sct_li{
        text-overflow:ellipsis;
        max-width: 188px;
    }
</style>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div class="category">
            <img src="/img/yougnMarketList.png" style="padding-top: 53px;">
        </div>
        <div id="wrapper">
            <div id="container">
                <section class="sct_wrap" style="width: 1100px;">
                    <br>
                    <div style="height: 40px">
                        <input style="width: 100px; height: 35px; float: right; line-height: 20px; margin-right: 55px" class="primary" type="button" value="등록">
                    </div>
                    <br>
                    <!-- 상품진열 10 시작 { -->
                    <ul class="sct sct_5">
                        <li class="sct_li sct_clear">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131001" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131001.gif" width="180" height="180" alt="미니사과 루비에스">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131001" class="sct_name">
                                    미니사과 루비에스
                                </a>
                                <div class="sct_cost">
                                    <strike>22,800원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131003" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131002.gif" width="180" height="180" alt="달콤한 벌집꿀(허니콤)" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131003" class="sct_name">
                                    달콤한 벌집꿀(허니콤)
                                </a>
                                <div class="sct_cost">
                                    <strike>22,900원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131004" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/thumb-2109131004_200x200.jpg" width="180" height="180" alt="흑임자인절미&amp;콩쑥개떡" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131004" class="sct_name">
                                    흑임자인절미&amp;콩쑥개떡
                                </a>
                                <div class="sct_cost">
                                    <strike>22,900원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131005" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/thumb-2109131005_200x200.jpg" width="180" height="180" alt="스테비아 방울토망고" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131005" class="sct_name">
                                    스테비아 방울토망고
                                </a>
                                <div class="sct_cost">
                                    <strike>21,500원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li sct_last">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131006" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131005.gif" width="180" height="180" alt="해남 무농약 자색고구마 3kg">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131006" class="sct_name">
                                    해남 무농약 자색고구마 3kg
                                </a>
                                <div class="sct_cost">
                                    <strike>24,900원</strike>
                                </div>

                            </div></li>
                        </li>
                    </ul>
                    <!-- } 상품진열 10 끝 -->

                    <!-- 상품진열 10 시작 { -->
                    <ul class="sct sct_5">
                        <li class="sct_li sct_clear">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131001" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131001.gif" width="180" height="180" alt="미니사과 루비에스">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131001" class="sct_name">
                                    미니사과 루비에스
                                </a>
                                <div class="sct_cost">
                                    <strike>22,800원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131003" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131002.gif" width="180" height="180" alt="달콤한 벌집꿀(허니콤)" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131003" class="sct_name">
                                    달콤한 벌집꿀(허니콤)
                                </a>
                                <div class="sct_cost">
                                    <strike>22,900원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131004" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/thumb-2109131004_200x200.jpg" width="180" height="180" alt="흑임자인절미&amp;콩쑥개떡" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131004" class="sct_name">
                                    흑임자인절미&amp;콩쑥개떡
                                </a>
                                <div class="sct_cost">
                                    <strike>22,900원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131005" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/thumb-2109131005_200x200.jpg" width="180" height="180" alt="스테비아 방울토망고" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131005" class="sct_name">
                                    스테비아 방울토망고
                                </a>
                                <div class="sct_cost">
                                    <strike>21,500원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li sct_last">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131006" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131005.gif" width="180" height="180" alt="해남 무농약 자색고구마 3kg">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131006" class="sct_name">
                                    해남 무농약 자색고구마 3kg
                                </a>
                                <div class="sct_cost">
                                    <strike>24,900원</strike>
                                </div>

                            </div></li>
                        </li>
                    </ul>
                    <!-- } 상품진열 10 끝 -->                    <!-- 상품진열 10 시작 { -->
                    <ul class="sct sct_5">
                        <li class="sct_li sct_clear">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131001" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131001.gif" width="180" height="180" alt="미니사과 루비에스">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131001" class="sct_name">
                                    미니사과 루비에스
                                </a>
                                <div class="sct_cost">
                                    <strike>22,800원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131003" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131002.gif" width="180" height="180" alt="달콤한 벌집꿀(허니콤)" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131003" class="sct_name">
                                    달콤한 벌집꿀(허니콤)
                                </a>
                                <div class="sct_cost">
                                    <strike>22,900원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131004" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/thumb-2109131004_200x200.jpg" width="180" height="180" alt="흑임자인절미&amp;콩쑥개떡" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131004" class="sct_name">
                                    흑임자인절미&amp;콩쑥개떡
                                </a>
                                <div class="sct_cost">
                                    <strike>22,900원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li ">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131005" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/thumb-2109131005_200x200.jpg" width="180" height="180" alt="스테비아 방울토망고" title="">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131005" class="sct_name">
                                    스테비아 방울토망고
                                </a>
                                <div class="sct_cost">
                                    <strike>21,500원</strike>
                                </div>

                            </div></li>
                        <li class="sct_li sct_last">
                            <div class="sct_img">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131006" class="sct_a">
                                    <img src="http://dmshop.kr/data/item/210913/2109131005.gif" width="180" height="180" alt="해남 무농약 자색고구마 3kg">
                                </a>
                            </div>
                            <div class="sct_txt">
                                <a href="http://dmshop.kr/shop/item.php?it_id=2109131006" class="sct_name">
                                    해남 무농약 자색고구마 3kg
                                </a>
                                <div class="sct_cost">
                                    <strike>24,900원</strike>
                                </div>

                            </div></li>
                        </li>
                    </ul>
                    <!-- } 상품진열 10 끝 -->

                </section>
            </div>
        </div>
        <br>
        <p style="text-align: center">< <a>1</a><a>2</a><a>3</a><a>4</a><a>5</a><a>6</a> ></p>
    </div>

    <!--footer-->
    <th:block th:include="footer.html"></th:block>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>