<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>마켓장바구니</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">


</head>
<style>
    ul{
        list-style: none;
    }
    .expoItem{
        border-bottom: solid 0.5px;
    }
</style>
<body class="homepage is-preload"  style="background: #fbf9f4">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
<section>
    <div class="main" style="height: auto;">
        <div class="category">
            <img src="/img/yougnMarketKart.png" style="padding-top: 53px;">
        </div>
        <div class="tle">
            <br>
            <ul class="expoList">
                <div>   <!--목록 전체-->
                    <div>   <!--목록 중 한개-->
                        <li class="expoItem" style="display: flex">
                                <div class="expoImgThumbnail">
                                    <a target="_blank" class="thumbnail" href="/market/marketView"></a>
                                    <img src="#"
                                         style="position: relative; display: table-cell; vertical-align: top; width:140px; height:140px; margin-left:30px; ">
                                </div>
                                <div class="itemInfo" style=" margin-left: 100px;margin-top: 9px;">
                                    <!--제목-->
                                    <div class="itemTitle">
                                        <h4 style="font-size: 23px;color: black"><a target="_self" href="/market/marketView">상품명 : 알찬 복숭아</a></h4>
                                    </div>
                                    <!--내용-->
                                    <div class="itemdetail">
                                        <p>상품번호 : 111</p>
                                    </div>
                                    <div class="itemprice">
                                        <p>가격 : 10000원</p>
                                    </div>
                                    <div class="itemseller">
                                        <p>판매자 : 우리농산</p>
                                    </div>
                                </div>
                        </li>
                        <br>
                    </div>
                    <div>   <!--목록 중 한개-->
                        <li class="expoItem" style="display: flex">
                            <div class="expoImgThumbnail">
                                <a target="_blank" class="thumbnail" href="/market/marketView"></a>
                                <img src="#"
                                     style="position: relative; display: table-cell; vertical-align: top; width:140px; height:140px; margin-left:30px; ">
                            </div>
                            <div class="itemInfo" style=" margin-left: 100px;margin-top: 9px;">
                                <!--제목-->
                                <div class="itemTitle">
                                    <h4 style="font-size: 23px;color: black"><a target="_self" href="/market/marketView">상품명 : 알찬 복숭아</a></h4>
                                </div>
                                <!--내용-->
                                <div class="itemdetail">
                                    <p>상품번호 : 111</p>
                                </div>
                                <div class="itemprice">
                                    <p>가격 : 10000원</p>
                                </div>
                                <div class="itemseller">
                                    <p>판매자 : 우리농산</p>
                                </div>
                            </div>
                        </li>
                        <br>
                    </div>
                    <div>   <!--목록 중 한개-->
                        <li class="expoItem" style="display: flex">
                            <div class="expoImgThumbnail">
                                <a target="_blank" class="thumbnail" href="/market/marketView"></a>
                                <img src="#"
                                     style="position: relative; display: table-cell; vertical-align: top; width:140px; height:140px; margin-left:30px; ">
                            </div>
                            <div class="itemInfo" style=" margin-left: 100px;margin-top: 9px;">
                                <!--제목-->
                                <div class="itemTitle">
                                    <h4 style="font-size: 23px;color: black"><a target="_self" href="/market/marketView">상품명 : 알찬 복숭아</a></h4>
                                </div>
                                <!--내용-->
                                <div class="itemdetail">
                                    <p>상품번호 : 111</p>
                                </div>
                                <div class="itemprice">
                                    <p>가격 : 10000원</p>
                                </div>
                                <div class="itemseller">
                                    <p>판매자 : 우리농산</p>
                                </div>
                            </div>
                        </li>
                        <br>
                    </div>

                    <div>   <!--목록 중 한개-->
                        <li class="expoItem" style="display: flex">
                            <div class="expoImgThumbnail">
                                <a target="_blank" class="thumbnail" href="/market/marketView"></a>
                                <img src="#"
                                     style="position: relative; display: table-cell; vertical-align: top; width:140px; height:140px; margin-left:30px; ">
                            </div>
                            <div class="itemInfo" style=" margin-left: 100px;margin-top: 9px;">
                                <!--제목-->
                                <div class="itemTitle">
                                    <h4 style="font-size: 23px;color: black"><a target="_self" href="/market/marketView">상품명 : 알찬 복숭아</a></h4>
                                </div>
                                <!--내용-->
                                <div class="itemdetail">
                                    <p>상품번호 : 111</p>
                                </div>
                                <div class="itemprice">
                                    <p>가격 : 10000원</p>
                                </div>
                                <div class="itemseller">
                                    <p>판매자 : 우리농산</p>
                                </div>
                            </div>
                        </li>
                        <br>
                    </div>

                </div>
            </ul>
        </div>
    </div>
</section>
    <br>
    <p style="text-align: center">< <a>1</a><a>2</a><a>3</a><a>4</a><a>5</a><a>6</a> ></p>
</div>
    <th:block th:include="footer.html"></th:block>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>