<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>마켓상세주문</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">


</head>
<style>
    .orderinput{
        margin-left: 75px;
        width: 350px;
        height: 45px;
    }

</style>
<body class="homepage is-preload"  style="background: #fbf9f4">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <form action="/market/marketModify" id="postForm" name="postForm" method="POST">
            <div class="category">
                <img src="/img/yougnMarketWrite.png" style="padding-top: 53px;">
            </div>
            <br>
            <br>
            <div class="ListTable">
                <h2 style="color: black; font-size: 20px; margin-left: 70px">상품 정보</h2>
                <table style="margin: 50px; width: 1000px">
                    <thead>
                    <tr class="tHead" style="text-align: center; background: #eee;height: 50px;line-height: 50px; font-size: 18px;">
                        <th class="itemnum">상품번호</th>
                        <th class="userid">판매자</th>
                        <th class="itemname">상품명</th>
                        <th class="orderdate">배송비</th>
                        <th class="ordercount">수량</th>
                        <th class="totalprice">상품금액</th>
                    </tr>
                    </thead>
                    <tbody>
                   <!-- <th:block th:each="index : ${#numbers.sequence(0,list.size()-1)}">
                        <tr class="tBody" th:object="${list.get(index)}">
                            <td class="itemnum" th:text="*{itemnum}"></td>
                            <td class="userid" th:text="*{userid}"></td>
                            <td class="itemname" th:text="*{itemname}"></td>
                            <td class="itemdeliverprice" th:text="*{itemdeliverprice}"></td>
                            <td class="ordercount" th:text="${orderlist.get(index)}"></td>
                            <td class="totalprice" th:text="${orderlist.get(index)}**{itemprice}"></td>
                        </tr>
                    </th:block> -->
                    </tbody>
                     <th:block>
                         <tr class="tBody" style="text-align: center;height: 70px;font-size: 20px;line-height: 70px;border-bottom: solid 0.5px">
                             <td class="itemnum">1</td>
                             <td class="userid">woojisi</td>
                             <td class="itemname">감자</td>
                             <td class="itemdeliverprice">2500</td>
                             <td class="ordercount">3</td>
                             <td class="totalprice">22500</td>
                         </tr>
                     </th:block>
                </table>
            </div>
            <br>
            <br>
            <div style="margin-left: 70px;">
                <h2 style="color: black; font-size: 20px">주문자 정보</h2>
                <br>
                <div style="margin-left: 120px; font-size: 16px">
                <p>우정인</p>
                <p>010-2395-5096</p>
                <p>woojisi@naver.com</p>
                </div>
                <br>
            </div>
            <hr style="width: 1000px;margin-right: 50px;margin-left: 50px;">
            <br>
            <br>
            <div style="margin-left: 70px;">
                <h2 style="color: black; font-size: 20px">배송지 정보</h2>
                <br>
                <div style="margin-left: 120px; font-size: 16px">
                    수령인*<input type="text" class="orderinput" id="orderReceiver" name="orderReceiver" placeholder="50자 이내로 입력해주세요"><br>
                    <br>
                    연락처*<input type="text" class="orderinput" id="orderPhonenum" name="orderPhonenum" placeholder="' ㅡ ' 를 제외하고 입력해주세요"><br>
                    <br>
                    배송지 주소*<input type="text" class="orderinput" style="margin-left: 40px"><input class="button" type="button" value="우편 번호" style="margin-left: 15px"><br>
                    <br>
                    <input type="text" class="orderinput" style="margin-left: 127px"><br>
                    <br>
                    베송메모<input type="text" class="orderinput" id="orderMemo" name="orderMemo" style="margin-left: 68px" placeholder="배송 요청사항을 직접 입력해주세요"><br>
                    <br>
                    <p style="font-size: 13px; color: #3c763d">※도서산간 지역의 경우 추후 수령 시 추가 배송비가 과금될 수 있습니다.</p>
                </div>
                <br>
            </div>
            <br>
            <br>
            <hr style="width: 1000px;margin-right: 50px;margin-left: 50px;">
            <br>
            <br>
            <div style="margin-left: 70px;">
                <h2 style="color: black; font-size: 20px">결제 상세</h2>
                <br>
                <div style="margin-left: 120px; font-size: 16px">
                    <span style="display: flex">주문 금액<p style="margin-left: 100px">수량 * 상품가격</p></span>
                    <br>
                    <span style="display: flex">배송비<p style="margin-left: 120px">배송비</p></span>
                    <br>
                    <hr style="width: 600px; margin-left: -3px">
                    <br>
                    <span style="display: flex">총 결제금액<p style="margin-left: 80px">주문 금액 + 배송비</p></span>
                </div>
            </div>
            <br>
            <hr style="width: 1000px;margin-right: 50px;margin-left: 50px;">
            <input class="button" type="button" style="width: 350px;height: 45px;margin: 50px auto;display: flex;padding-left: 140px;"  value="결제하기">
            <br>
            <br>
            <br>
        </form>
    </div>
    <th:block th:include="footer.html"></th:block>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>