<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>마켓상품수정</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <!--썸머노트-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body class="homepage is-preload"  style="background: #fbf9f4">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <form action="/market/marketModify" id="postForm" name="postForm" method="POST" th:object="${vo}">
            <div class="category">
                <img src="/img/yougnMarketWrite.png" style="padding-top: 53px;">
            </div>
            <br>
            <div id="sit_ov_wrap" style="display:flex; width: 1100px;margin: auto; border-top: solid 0.5px;">
                <!-- 상품이미지 미리보기 시작 { -->
                <div id="sit_pvi_big" class="owl-carousel owl-theme">
                    <div class="owl-item" style="width: 500px;">
                        <input type="file" id="fileBtn" name="uploadFiles" style="display: block">
                        <div class="item">
                            <ul></ul>
                        </div>
                    </div>
                </div>

                <br>
                <!-- } 상품이미지 미리보기 끝 -->

                <section class="detailView">
                    <div class="sit_ov_tbl" style="margin-top: 50px">
                        <input type="hidden" name="itemnum" id="itemnum" th:field="*{itemnum}">

                        상품명*<input id="itemname" name="itemname" style="margin-left: 20px;color: #4a514f; font-size: 22px; width: 400px" type="text" th:value="*{itemname}">
                        <hr>
                        <div class="con_w">
                        가격*<input id="itemprice" name="itemprice" style="height: 35px;margin-left: 23px;width: 300px" type="text"th:value="*{itemprice}">원
                        </div>
                        <br>
                        <div class="con_w">
                            <span class="ttl">제조사&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con">상세페이지참조</span>
                        </div>
                        <br>
                        <div class="con_w">
                            <span class="ttl">브랜드&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                            <span class="con">상세페이지참조</span>
                        </div>
                        <br>
                        <div class="con_w">
                        원산지<input id="itemhome" name="itemhome" style="height: 35px;margin-left: 20px;width: 300px" type="text" th:value="*{itemhome}">
                        </div>
                        <br>
                        <div class="con_w">
                        배송비<input id="itemdeliverprice" name="itemdeliverprice" style="height: 35px;margin-left: 20px;width: 300px" type="text" th:value="*{itemdeliverprice}">원
                        </div>
                        <br>
                        <div class="con_w">
                        총수량<input id="itemtotalcount" name="itemtotalcount" style="height: 35px;margin-left: 20px;width: 300px" type="text" th:value="*{itemtotalcount}">개
                        </div>

                    </div>
                </section>
            </div>
            <hr>
            <div id="bottom">
                    <!-- summernote와 관련된 영역 -->

                    <textarea id="summernote" name="itemcontent" onKeyup="inputLimitByteChecked( this );" data-byte="4000" style="resize: none;"></textarea>



                    <!-- 버튼과 관련된 영역 -->

                    <div align="center" class="btn-box">

                        <input type="button" id="sendSummer" class="button" value="수정">

                        <a class="button" onclick="history.back()">취소</a>

                    </div>

                    <br>
            </div>

        </form>
    </div>
    <th:block th:include="footer.html"></th:block>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="/js/board/marketwrite.js"></script>
<!-- include summernote css/js-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<script th:inline="javascript">
    let content = [[${vo.itemcontent}]];
    let itemnum = $("#itemnum").val();
    $(document).ready(function(){
        let regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
        let maxSize = 5242880;// 5MB
        let inputFile = $(".uploadDiv input");
        let uploadResult = $(".item ul");

        $(".note-placeholder").css("display","none");
        $("div.panel-body").html(content);


        $("#sendSummer").on("click", function(e){
            e.preventDefault();
            let form = $("form#postForm");
            let str = "";
            $(".item ul li").each(function(i, obj){
                str += "<input type='text' name='attachList[" + i + "].fileName' value='" + $(obj).data('name') + "'>"
                str += "<input type='text' name='attachList[" + i + "].uuid' value='" + $(obj).data('uuid') + "'>"
                str += "<input type='text' name='attachList[" + i + "].uploadPath' value='" + $(obj).data('path') + "'>"
                str += "<input type='text' name='attachList[" + i + "].image' value='" + $(obj).data('type') + "'>"
            });
            form.append(str).submit();
        })


        function showUploadFile(uploadFiles){
            let str = "";
            $(uploadFiles).each(function(i, obj){
                let fileCallPath = encodeURIComponent(obj.uploadPath + "/s_" + obj.fileName);
                str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                str += "<div>";
                str += "<img src='/upload/display?fileName=" + fileCallPath + "'>";
                str += "<span data-file='" + fileCallPath + "' data-type='image'>x</span>";
                str += "</div>";
                str += "</li>";

            });
            uploadResult.append(str);
        }
        //확장자 별 업로드 제한, 특정 크기 이상의 파일은 업로드 제한
        function checkExtension(fileName, fileSize){
            if(regex.test(fileName)){
                alert("업로드 할 수 없는 파일의 형식입니다.");
                return false;
            }
            if(fileSize >= maxSize){
                alert("파일 사이즈 초과");
                return false;
            }
            return true;
        }

        $("input[type='file']").change(function(){
            let formData = new FormData();
            let inputFile = $("input[name='uploadFiles']");
            let files = inputFile[0].files;

            for(let i=0; i<files.length; i++){
                if(!checkExtension(files[i].name, files[i].size)){ return; }
                formData.append("uploadFiles", files[i]);
            }

            $.ajax({
                url: "/upload/uploadAjaxAction",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function(fileList){
                    showUploadFile(fileList);
                    inputFile.val("");
                }
            });
        });

        $(".item").on("click", "span", function(){
            let targetFile = $(this).data("file");
            let type = $(this).data("type");
            let li = $(this).parents("li");

            $.ajax({
                url: "/upload/deleteFile",
                type: "POST",
                data: {fileName:targetFile, type:type},
                dataType: "text",
                success: function(result){
                    alert(result);
                    li.remove();
                    $("input[type='file']").show();
                }
            });

        });


        (function(){
            $.getJSON("/market/getAttachList", {itemnum: itemnum},
                function(arr){
                    console.log(arr);
                    let str = "";

                    $(arr).each(function(i, attach){
                        let fileCallPath = encodeURIComponent(attach.uploadPath + "/s_" + attach.uuid + "_" + attach.fileName);
                        let originPath = encodeURIComponent(attach.uploadPath + "/" + attach.uuid + "_" + attach.fileName);

                        str += "<li data-path='" + attach.uploadPath + "' data-uuid='" + attach.uuid + "' data-name='" + attach.fileName.substring(attach.fileName.indexOf("_") + 1) + "' data-type='" + attach.image +"'>";
                        str += "<div>";
                        str += "<img src='/upload/display?fileName=" + fileCallPath + "'>";
                        str += "<span data-file='" + fileCallPath + "' data-type='image'>x</span>";
                        str += "</div>";
                        str += "</li>";

                    });
                    uploadResult.html(str);
                });//getJSON
        })();
    });
</script>
</body>
</html>