<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>마켓주문완료</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">


</head>
<body class="homepage is-preload"  style="background: #fbf9f4">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
            <br>
            <br>
            <div style="text-align: center; color: black">
                <br>
                <br>
                <br>
                <br>
                <h1 style="text-align: center; color: #3c763d;font-size: 55px">주문완료</h1>
                <br>
                <div class="category">
                    <img src="/img/paydone.png" style="width: 450px; height: 450px">
                </div>
                <br>
                <h2 style="text-align: center; color: #3c763d; font-size: 28px">상품 주문이 완료 되었습니다.</h2>
                <br>
                <h2 style="text-align: center; color: #3c763d; font-size: 28px">주문내역에서 확인 가능합니다.</h2>
                <br>
                <br>
                <a href="javascript:void(0)" type="button" class="MyorderButton button">주문내역 보러가기</a>
                <a href="javascript:void(0)" type="button" class="MainButton button">메인으로</a>
                <br>
            </div>
            <br>
            <br>
    </div>
    <th:block th:include="footer.html"></th:block>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">
    $("a.MyorderButton").on("click", function (e) {
        e.preventDefault();
        location.href = "/market/marketMyorder";
    })

    $("a.MainButton").on("click", function (e) {
        e.preventDefault();
        location.href = "/";
    })

</script>
</body>
</html>