<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YOU귀농-market글쓰기</title>
    <link rel="stylesheet" href="/css/skin.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
</head>
<style>
    .dropdown-menu{
        background: #ffff;
        color: black;
        display: flex;
        min-width: fit-content;
        max-width: 1000px;
        z-index: 10;
        position: absolute;
        top: 69px;
    }

    .sct_10{
        display:flex;
    }

    h1, h2, h3, h4, a, p, li, div, input{
    }

    li>a {
        font-size: 20px;
    }
    .headermenu{
        width:1000px !important;
    }
    .twelve{
        width: 200px;
    }
    table {
        width: 112%;
    }
    li{
        margin-right: 20px !important;
    }
    #icon{
        margin-left: -100px;
        margin-bottom: -92px;
        height: 100px;
    }
    .logo{
        width: 1000px !important;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .headerlogo{
        width: 900px !important;
    }
    .info{
        float: right;
        margin-top: 86px;
        font-size: 16px;
    }

    #subheader a{
        color: black;
    }
    .dropdown-menu{
        background: #d0dd7f;
        color: black;
        display: flex;
        min-width: fit-content;
        max-width: 1000px;
    }
</style>
<body style="margin: 0;">
<!--HEADER -->
<header id="header">
    <div class="row">
        <div class="headerlogo four columns">
            <div class="logo">
                <a href= "">
                    <img id="icon" src="/img/logo1.png">
                </a>
                <div class="info">
                    <a href="">로그인</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">회원가입</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">ID/PW 찾기</a>
                    <a href="">로그아웃</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">마이 페이지</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <div id="subheader" class="subheadertext" style="padding:0px 0px !Important; max-height: 70px">
        <div class="row">
            <div class="twelve columns dropdowner">
                <div class="headermenu eight columns noleftmarg">
                    <nav id="nav-wrap">
                        <ul id="main-menu" class="nav-bar sf-menu">
                            <li class="current">
                                <a href="">귀농 지원</a>
                            </li>

                            <li class="current">
                                <a href="">귀농 체험</a>
                            </li>

                            <li class="current">
                                <a href="">떨이(이름 미정)</a>
                            </li>
                            <li class="current">
                                <a href="">컴백촌 EXPO</a>
                            </li>

                            <li class="current">
                                <a href="">게시판</a>
                            </li>
                        </ul>

                        <div class="dropdown-menu">
                            <ul style="margin-left: 32px;margin-right: 59px;">
                                <li><a>마을회관</a></li>
                                <li><a>특산물 정보</a></li>
                                <li><a>농사 수업</a></li>
                                <li><a>농사 정보</a></li>
                            </ul>
                            <ul style="margin-right: 77px;">
                                <li><a>주말 농부</a></li>
                                <li><a>체험</a></li>
                            </ul>
                            <ul style="margin-right: 179px;">
                                <li><a>떨이</a></li>
                            </ul>
                            <ul style="margin-right: 104px;">
                                <li><a>귀농 청년</a></li>
                            </ul>
                            <ul>
                                <li><a>공지사항</a></li>
                                <li><a>수매요청</a></li>
                                <li><a>임대, 매매</a></li>
                                <li><a>지식인</a></li>
                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</header>

<section style="background: lightgoldenrodyellow;">
    <div class="tle" style="height: auto;/* background: lightgoldenrodyellow; */">
        <form>
        <br>
        <br>
        <hr>
        <div id="sit_ov_wrap" style="display: flex;width: 1000px;margin: auto;">
            <!-- 상품이미지 미리보기 시작 { -->
            <div id="sit_pvi">
                <div id="sit_pvi_big" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1000px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 500px;"><div class="item"><a href="http://dmshop.kr/shop/largeimage.php?it_id=2106307004&amp;no=1" target="_blank" class="popup_item_image"><img src="#" width="500" height="520" alt="" title="">사진</a></div></div></div></div>        <div class="owl-controls clickable" style="display: none;"><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div>
                <br>
                <script>
                    $(document).ready(function() {
                        $("#sit_pvi_big").owlCarousel({
                            autoPlay : true,
                            navigation : true, // Show next and prev buttons
                            slideSpeed : 1000,
                            pagination:false,
                            singleItem:true,

                        });
                    });
                </script>

            </div>
            <!-- } 상품이미지 미리보기 끝 -->

            <section id="sit_ov" style="margin-left: -480px;margin-top: 30px;">
                <div style="display: flex; width: 400px"><h2 style="width: 130px;">제목:</h2><input type="text"></div>
                <hr>
                <div class="sit_ov_tbl">
                    <div class="price">
                        <div class="price_innerwrap">
                            <div id="ucItemPrice_hdivPrice" class="price_original" style="display:flex;"><p style="font-size: 18px; width: 130px;">시중가격 :</p><input type="text"></div>
                        </div>
                    </div>
                    <br>
                    <div class="con_w" style="font-size: 18px">
                        <span class="ttl">제조사&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                        <span class="con">상세페이지참조</span>
                    </div>
                    <br>
                    <div class="con_w" style="font-size: 18px">
                        <span class="ttl">브랜드&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                        <span class="con">상세페이지참조</span>
                    </div>
                    <br>
                    <div class="con_w" style="font-size: 18px; display:flex" >
                        <span class="ttl" style="width: 130px">원산지&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                        <input class="con" type="text">
                    </div>
                    <br>
                    <div class="con_w" style="font-size: 18px; display: flex">
                        <span class="ttl" style="width: 180px">배송비결제&nbsp;&nbsp;-&nbsp;&nbsp; </span>
                        <input class="con" type="text"></div>
                    <!-- 선택옵션 시작 { -->
                    <hr>
                    <section class="sit_sl_opt">
                        <h3>선택옵션</h3>
                        <table>
                            <colgroup>
                                <col class="grid_2">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><label for="it_option_1">옵션</label></th>
                                <td><select id="it_option_1" class="it_option">
                                    <option value="">선택</option>
                                    <option value="딱딱이 복숭아 2.5kg,0,9997">딱딱이 복숭아 2.5kg&nbsp;&nbsp;+ 0원</option>
                                    <option value="딱딱이 복숭아 5kg,18800,9999">딱딱이 복숭아 5kg&nbsp;&nbsp;+ 18,800원</option>
                                </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <!-- } 선택옵션 끝 -->

                </div>
            </section>
        </div>
        <hr>
        <div id="bottom">
            <!-- 필독 -->
            <div id="sit_hhtml">
                <div style="text-align:center;" align="center">
                    <br>
                </div>
                <div style="text-align:center;" align="center">

                    <br style="clear:both;">
                    <br style="clear:both;">
                    <br style="clear:both;">
                    <br style="clear:both;">&nbsp;
                </div>
            </div>
            <!-- 필독끝 -->

            <!-- 상풍 상세설명 -->
            <hr>
            <div style="text-align:center;" align="center">
                썸머노트 들어올 자리
            </div>
            <!-- 상풍 상세설명 끝 -->
        </div>
        </form>
    </div>
</section>

<!-- FOOTER -->
<div id="footer">
    <footer class="row">
        <p class="back-top floatright">
            <a href="#top" id="toTop"><span>top</span></a>
        </p>
        <div class="four columns">
            <h1>도움이 필요하신가요?</h1>
            <p>유귀농를 이용하시면서 불편함을 느끼셨나요?<br>혹은 도움이 필요하신가요?<br>언제든지 아래의 주소로 연락주세요!<br>유귀농는 여러분의 관심과 사랑에 항상 고맙습니다.</p>
        </div>
        <div class="four columns">
            <h1>찾아오시는길</h1>
            <ul class="contact">
                <li class="icon solid fa-envelope">admin@yougn.com</li>
                <li class="icon solid fa-phone">(02)1204-1204</li>
                <li class="icon solid fa-home">서울특별시 강남구 테헤란로 146 현익빌딩 4층(역삼동)<br/></li>
            </ul>
        </div>
        <div class="four columns">
            <h1 class="newsmargin">NEWSLETTER</h1>
            <div class="row collapse newsletter floatright">
                <div class="ten mobile-three columns">
                    <input type="text" class="nomargin" placeholder="Enter your e-mail address...">
                </div>
                <div class="two mobile-one columns">
                    <a href="#" class="postfix button expand">GO</a>
                </div>
            </div>
        </div>

    </footer>
</div>
<div class="copyright">
    <div class="row">
        <div class="six columns">
            &copy;<span class="small"> YOU귀농 2021. All rights reserved.</span>
        </div>
        <div class="six columns">
            <span class="small floatright"> Template by <a href="www.wowthemes.net">WowThemes.net</a></span>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.8.1.min.js"></script>
<script>
    $(".dropdown-menu").hide();
    $("#main-menu").on("mouseenter", function (e) {
        $("div.dropdown-menu").slideDown();
        $("div.dropdown-menu").show();
        $("div.dropdown-menu").children().show();
        $("div.dimmed").css("opacity","0.5");
    })
    $(".dropdown-menu").on("mouseleave", function (e) {
        $(".dropdown-menu").hide();
        $("div.dimmed").css("opacity","0");
    })
</script>
</body>
</html>