<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>마켓상세주문</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">


</head>
<style>
    .orderinput{
        margin-left: 75px;
        width: 350px;
        height: 45px;
    }

</style>
<body class="homepage is-preload"  style="background: #fbf9f4">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <form action="/market/marketPayment" id="postForm" name="postForm" method="POST">
            <div class="category">
                <img src="/img/yougnMarketpayment.png" style="padding-top: 53px;">
            </div>
            <br>
            <br>
            <div class="ListTable">
                <h2 style="color: black; font-size: 20px; margin-left: 70px">상품 정보</h2>
                <table style="margin: 50px; width: 1000px">
                    <thead>
                    <tr class="tHead" style="text-align: center; background: #eee;height: 50px;line-height: 50px; font-size: 18px;">
                        <th class="itemnum">상품번호</th>
                        <th class="userid">판매자</th>
                        <th class="itemname">상품명</th>
                        <th class="orderdate">배송비</th>
                        <th class="ordercount">수량</th>
                        <th class="totalprice">상품금액</th>
                    </tr>
                    </thead>
                    <tbody>
                   <!-- <th:block th:each="index : ${#numbers.sequence(0,list.size()-1)}">
                        <tr class="tBody" th:object="${list.get(index)}">
                            <td class="itemnum" th:text="*{itemnum}"></td>
                            <td class="userid" th:text="*{userid}"></td>
                            <td class="itemname" th:text="*{itemname}"></td>
                            <td class="itemdeliverprice" th:text="*{itemdeliverprice}"></td>
                            <td class="ordercount" th:text="${orderlist.get(index)}"></td>
                            <td class="totalprice" th:text="${orderlist.get(index)}**{itemprice}"></td>
                        </tr>
                    </th:block> -->
                    </tbody>
                     <th:block>
                         <tr class="tBody"  th:object="${order}" style="text-align: center;height: 70px;font-size: 20px;line-height: 70px;border-bottom: solid 0.5px">
                             <td class="itemnum" id="1" th:text="*{itemnum}"></td>
                             <td class="userid" id="2" th:text="*{userid}"></td>
                             <td class="itemname" id="3" th:text="*{itemname}"></td>
                             <td class="itemdeliverprice" th:text="*{itemdeliverprice}"></td>
                             <td class="ordercount" id="4" th:text="${count}"></td>
                             <td class="totalprice" th:text="*{itemprice}"></td>
                         </tr>
                     </th:block>
                </table>
            </div>
            <br>
            <br>
            <div style="margin-left: 70px;">
                <h2 style="color: black; font-size: 20px">주문자 정보</h2>
                <br>
                <div style="margin-left: 120px; font-size: 16px">
                <span style="display: flex">아이디&nbsp; : &nbsp;<p id="5" th:text="${user.getId()}"></p></span>
                <span style="display: flex">이름&nbsp; : &nbsp;<p th:text="${user.getName()}"></p></span>
                <span style="display: flex">연락처&nbsp; : &nbsp;<p id="6" th:text="${user.getPhone()}"></p></span>
                <span style="display: flex">이메일&nbsp; : &nbsp;<p th:text="${user.getEmail()}"></p></span>
                </div>
                <br>
            </div>
            <hr style="width: 1000px;margin-right: 50px;margin-left: 50px;">
            <br>
            <br>
            <div style="margin-left: 70px;">
                <h2 style="color: black; font-size: 20px">배송지 정보</h2>
                <br>
                <div style="margin-left: 120px; font-size: 16px">
                    수령인*<input type="text" class="orderinput" id="orderReceiver" name="orderReceiver" placeholder="50자 이내로 입력해주세요"><br>
                    <br>
                    연락처*<input type="number" class="orderinput" id="orderPhonenum" name="orderPhoneNum" value=""/><br>
                    <br>
                    우편번호*<input type="text" class="postcodify_postcode5 orderinput" id="address"
                                placeholder="우편번호" style="width:200px ;margin-left: 59px" value="">
                    <input type="button" id="postcodify_search_button" style="width: 146px;font-size: 16px;padding: 16px;line-height: 14px;font-family: 'Jeju Gothic';font-weight: 500;" value="우편번호 검색"><br>
                    <br>
                    <input type="text" class="postcodify_address orderinput" style="margin-left: 127px" name="orderAddress" placeholder="도로명주소" value=""><br>
                    <br>
                    <input type="text" class="postcodify_details orderinput" style="margin-left: 127px" name="orderAddressDetail" placeholder="상세주소" value=""><br>
                    <br>
                    배송메모<input type="text" class="orderinput" id="orderMemo" name="orderMemo" style="margin-left: 68px" placeholder="배송 요청사항을 직접 입력해주세요"><br>
                    <br>
                    <p style="font-size: 13px; color: #3c763d">※도서산간 지역의 경우 추후 수령 시 추가 배송비가 과금될 수 있습니다.</p>
                </div>
                <br>
            </div>
            <br>
            <br>
            <hr style="width: 1000px;margin-right: 50px;margin-left: 50px;">
            <br>
            <br>
            <div style="margin-left: 70px;">
                <h2 style="color: black; font-size: 20px">결제 상세</h2>
                <br>
                <div style="margin-left: 120px; font-size: 16px" th:object="${order}">
                    <span style="display: flex">주문 금액<p style="margin-left: 100px" id="a" th:text="${count} * *{itemprice}"></p>&nbsp;원</span>
                    <p style="margin-left: 16px; font-size: 22px">+</p>
                    <span style="display: flex">배송비<p style="margin-left: 120px" id="b" th:text="*{itemdeliverprice}"></p>&nbsp;원</span>
                    <p style="margin-left: 16px; font-size: 22px">=</p>
                    <hr style="width: 600px; margin-left: -3px">
                    <span style="display: flex">총 결제금액<p style="margin-left: 80px" id="c" th:text="${count} * *{itemprice} + *{itemdeliverprice}"></p>&nbsp;원</span>
                </div>
            </div>
            <br>
            <hr style="width: 1000px;margin-right: 50px;margin-left: 50px;">
            <input class="button" type="submit" style="font-family: 'Jeju Gothic'; font-weight: 500; font-size: 24px; width: 350px;height: 45px;margin: 50px auto;display: flex;padding-left: 130px;"  value="결제하기">
            <br>
            <br>
            <br>
            <input type="hidden" name="itemNum">
            <input type="hidden" name="itemName">
            <input type="hidden" name="userId">
            <input type="hidden" name="buyerId">
            <input type="hidden" name="itemdeliverprice">
            <input type="hidden" name="orderPayment">
            <input type="hidden" name="orderCount">
        </form>
    </div>
    <th:block th:include="footer.html"></th:block>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script th:inline="javascript">

    let chongPrice = $("#c").text()
    $("input[name='orderPayment']").val(chongPrice);//총합
    $("input[name='itemdeliverprice']").val($("#b").text());//배달비
    console.log(chongPrice);
    let product = $("#3").text();
    $("input[name='userId']").val($("#2").text())
    $("input[name='itemName']").val(product)
    $("input[name='itemNum']").val($("#1").text())
    $("input[name='orderCount']").val($("#4").text())
    $("input[name='buyerId']").val($("#5").text())
    let ph = $("#6").text()
    console.log(ph);
    $("input[name='orderPhoneNum']").attr('value',ph);


    // $("input[type='button']").on("click",function () {
    //     iamport()
    // })

    let form = document.postForm;
    // 주소검색 API
    $(function () {

        $("#postcodify_search_button").postcodifyPopUp();

        $("input[type='submit']").on("click",function (e) {
            e.preventDefault();
            iamport()
        })

        function iamport(){
            //가맹점 식별코드
            IMP.init('imp10833768');
            IMP.request_pay({
                pg : 'kakaoPay',
                pay_method : 'kakaoPay',
                merchant_uid : 'merchant_' + new Date().getTime(),
                name :   product, //결제창에서 보여질 이름
                amount : chongPrice, //실제 결제되는 가격
            }, function(rsp) {
                console.log(rsp);
                if ( rsp.success ) {
                    form.submit();
                } else {
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                    alert(msg);
                }
            });
        }
    });


</script>
</body>
</html>