<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>마켓리스트</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/expo.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
<style>
    li img{
        width: 250px;
        height: 215px;
        margin-top: 15px;
        border-radius: 5%;
    }
    li>a {
        font-size: 20px;
    }

    table {
        width: 112%;
    }
    li.marketItem{
        margin-right: 20px !important;
    }
    #subheader a{
        color: black;
    }

    .marketItem{
        padding : 0;
    }

    .marketItemInner{
        width: 970px;
        display: flex;
    }
    .uploadResult ul li img{
        width: 300px;
        height: 300px;
        border-radius: 5%;
    }

    .itemTitle{
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 40px;
        margin-bottom: 5px;
        line-height: 20px;
        display: block;
    }

    .itemInfo{
        margin-left: 10px;
    }
    .listNum{
        margin: 0 auto;
    }
    ul{
        padding: 0;
    }

    div#searchWrap{display: flex;}
    select[name='type']{width: 10%;border: solid 1px black;height: 37px;border-radius: 0%; font-weight: bold;text-align: center;font-size: 16px;color: black; }
    input[name='keyword']{
        width: 80%; margin: 0 auto; padding: 0 0; border: solid 1px black;height: 37px;border-radius: 0%;color: #000000;padding-left: 10px;}
    form[name='searchForm']{overflow: hidden;}


    .itemList{
        list-style: none;
    }

    .marketItemInner{
        width: 300px;
        display: flex;
        flex-direction: column;
    }

</style>
</head>
<body class="homepage is-preload" style="zoom:0.75;">
<div id="page-wrapper">

    <th:block th:include="header.html"></th:block>

    <!--Main-->
    <div class="main">
        <div class="category">
            <img src="/img/yougnMarketList.png" style="padding-top: 53px;">
        </div>
        <div id="wrapper">
            <div id="container">
                <section class="sct_wrap" style="width: 1100px;">
                    <div style="height: 40px">
                        <a href="javascript:void(0)" class="writeButton primary button" style="float: right;margin-right: 45px;font-weight: 100;padding:5px 12px;margin-bottom: -1px;">>등록</a>
                    </div>
                    <ul class="itemList"
                        style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;width: 1000px; margin-left: 50px;">
                        <th:block th:if="${list.size() != 0}">
                        <th:block th:each="index : ${#numbers.sequence(0,list.size()-1)}">
                            <div style="width: 300px;height: 580px;">
                                <li class="marketItem" th:object="${list.get(index)}" style="height: 335px;width:350px;">
                                    <div class="listNum">
                                        No.<p id="itemnum" name="itemnum" th:text="*{itemnum}"></p>
                                    </div>
                                    <div class="marketItemInner">
                                        <!--썸네일 나중에-->
                                        <div class="marketImgThumbnail">
                                            <ul th:id="${index}">

                                            </ul>
                                        </div>
                                        <div class="itemInfo" style="width: 300px; ">
                                            <!--제목-->
                                            <div class="itemTitle" style="height: 70px;margin-top: 20px;">
                                                <h4><a target="_self" class="itemName" id="goRead"
                                                       th:href="*{itemnum}"
                                                       name="itemname" th:text="*{itemname}"
                                                       style="font-size: 40px;line-height: 46px;height: 70px;"></a></h4>
                                            </div>
                                            <!--내용-->
                                            <div class="itemDetail" style="height: 165px">
                                                <div style="font-size: 25px;color: #ff7f00; display: inline-flex;">
                                                    <p th:text="*{itemprice}" name="itemprice" style="height: 12px;"></p>원<br>
                                                </div><br>
                                                작성자 :<p name="userId" th:text="*{userid}"  style="height: 24px;"></p><br>
                                                원산지 : <p th:text="*{itemhome}" name="itemhome" style="height: 12px;display: inline-flex;"></p><br>
                                                재고 : <p th:text="*{itemtotalcount}" name="itemtotalcount" style="height: 12px;"></p><br>
                                                배송비 : <p th:text="*{itemdeliverprice}" name="itemdeliverprice"></p>원<br>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </div>
                        </th:block>
                        </th:block>
                    </ul>

                    <form action="/market/marketList" name="searchForm">
                        <div class="fields">
                            <div class="field"></div>
                            <div style="margin-bottom: 50px; margin-top: 50px; ">
                                <div id="searchWrap" th:object="${pageMaker}" style="display: flex;">
                                    <select name="keyType" th:object="${criteria}" style="padding: 0; width: 100px; font-weight: bold;">
                                        <option value="">전체 ▼</option>
                                        <option value="N" th:selected="*{keyType} == 'N'">제목</option>
                                        <option value="C" th:selected="*{keyType} == 'C'">내용</option>
                                        <option value="W" th:selected="*{keyType} == 'W'">작성자</option>
                                    </select>
                                    <input id="keyword" type="text" name="keyword" th:value="*{criteria.keyword}" >
                                    <!--버튼-->
                                    <a href="javascript:void(0)" class="search button primary icon solid fa-search" style="height: 37px;font-size: 14px;font-weight: 500;border: solid 1px green;">
                                        검색
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div th:object="${pageMaker}">
                        <div class="big-width" style="font-size: 13px;text-align: center">
                            <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                            <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                                <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
                                <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="${num}"><code th:text="${num}"></code></a>
                            </th:block>
                            <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
                        </div>
                        <form action="/market/marketList" th:object="${criteria}" name="pageForm" style="margin-top: -44px;">
                            <input type="hidden" name="pageNum" th:field="*{pageNum}">
                            <input type="hidden" name="amount" th:field="*{amount}">
                            <input type="hidden" name="keyType" th:field="*{keyType}">
                            <input type="hidden" name="keyword" th:field="*{keyword}">
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <input type="hidden" th:value="${id}" id="sessionId">
        </section>
    </div>
    <!--footer-->
    <th:block th:include="footer.html"></th:block>
</div>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.slidertron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

<script th:inline="javascript">

    let pageForm = $(document.pageForm); // 페이징 Form 태그
    let paging = [[${pageMaker.criteria.listLink}]]; // 페이징
    let searchForm = $(document.searchForm); // 검색기능 Form 태그
    let itemnum = $("#itemnum").text(); // 엑스포 넘버
    let marketImgThumbnail = $(".marketImgThumbnail ul") // 썸네일 들어갈 태그
    let list = [[${list}]];

    $(document).ready(function(){
        for(let a = 0; a < list.length; a++) {
            (function () {
                $.getJSON("/market/getAttachList", {itemnum: list[a].itemnum},
                    function (arr) {
                        console.log(arr);
                        let str = "";

                        $(arr).each(function (i, attach) {
                            console.log(attach.image);
                            if (!attach.image) {
                                let fileCallPath = encodeURIComponent(attach.uploadPath + "/" + attach.uuid + "_" + attach.fileName);
                                str += "<li>";
                                str += "<div>";
                                str += "<img src='/img/attach.png' width='100px'>";
                                str += "</div>";
                                str += "</li>";
                            } else {
                                let fileCallPath = encodeURIComponent(attach.uploadPath + "/s_" + attach.uuid + "_" + attach.fileName);

                                str += "<li>";
                                str += "<div>";
                                str += "<img src='/upload/display?fileName=" + fileCallPath + "'>";
                                str += "</div>";
                                str += "</li>";
                            }
                        });
                        $("#" + a).html(str);
                    });//getJSON
            })();
        }

        showList(pageNum);

        if(itemnum == null || history.state){
            return;
        }
        alert("게시글 " + itemnum + "번이 등록되었습니다.");
        history.replaceState({}, null, null);
    });


    // 페이징 양쪽 부등호
    $("a.changePage").click(function(e){
        e.preventDefault();
        pageForm.attr("action", "/market/marketList")
        pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        pageForm.submit();
    });


    //제목 눌렀을 때
    $("a#goRead").on("click", function(e){
        e.preventDefault();
        if($("#sessionId").val() == ""){
            alert("로그인이 필요합니다.");
            location.href = "/user/login";
            return;
        }
        location.href = "/market/marketView" + paging  + "&itemnum=" + $(this).attr("href");
    })

    //검색할 때
    $("a.search").on("click", function(e){
        e.preventDefault();
        if(!searchForm.find("option:selected").val()){
            alert("검색 종류를 선택하세요");
            return;
        }

        if(!searchForm.find("input#keyword").val()){
            alert("키워드를 입력하세요");
            return;
        }
        searchForm.submit();
    });

    $("input#keyword").on("keydown", function(e){
        if(e.keyCode == 13){
            e.preventDefault();
        }
    })

    $("a.writeButton").on("click", function (e) {
        e.preventDefault();
        if ($("#sessionId").val() == "") {
            alert("로그인이 필요합니다.");
            location.href = "/user/login";
            return;
        }
            location.href = "/market/marketWrite";
    })

</script>


</body>
</html>